<div class="modal fade" id="delete_{{ object_type }}_{{ object.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вы уверены, что хотите удалить этот {{ object_name }}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <form method="POST" action="/{{ object_type }}s_delete/{{ object.id }}/" class="mt-3">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>