{% for source in report.source_dict %}
    <h2 id="supplement-{{ forloop.counter }}">Приложение {{ forloop.counter }}</h2>

    {% for supplement_type, items in report.supplement_dict.items %}
        {% if items %}
            <h3 id="{{ supplement_type }}-{{ forloop.parentloop.counter }}">
                {% if supplement_type == "maps" %}Карты
                {% elif supplement_type == "schemas" %}Схемы
                {% elif supplement_type == "object_fotos" %}Общий вид
                {% elif supplement_type == "pits_fotos" %}Шурфы
                {% elif supplement_type == "excavation_fotos" %}Раскопы
                {% elif supplement_type == "material_fotos" %}Археологический материал
                {% elif supplement_type == "heritage_info" %}Данные о ВОАН
                {% elif supplement_type == "other" %}Иное
                {% elif supplement_type == "title_page" %}Титульник
                {% elif supplement_type == "docs" %}Документы
                {% elif supplement_type == "open_list" %}Открытый лист
                {% elif supplement_type == "no_captions" %}Без подписей
                    {% else %}{{ supplement_type|title }}
                {% endif %}
            </h3>

            <div class="row">
                {% for item in items %}
                    {% if supplement_type == "pits_fotos" and item.folder is not None and item.folder != folder %}
                        {% if forloop.counter0 > 0 %}
                            {% with prev_item=items|slice:forloop.counter0|last %}
                                {% if prev_item.folder != item.folder %}
                                    <h4>{{ item.folder }}</h4>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <h4>{{ item.folder }}</h4>
                        {% endif %}
                    {% endif %}

                    {% if item.source %}
                        <div class="col-md-4 mb-4">
                            <a data-fancybox="gallery" href="/{{ item.source }}"
                               data-caption="{{ item.label|default:'Изображение' }}">
                                <img src="/{{ item.source }}" loading="lazy"
                                     alt="{{ item.label|default:'Изображение' }}"
                                     class="img-fluid img-thumbnail"
                                     style="max-width: 400px;" id="image-link-{{ item.image_num }}">
                                {% if item.label %}<p class="mt-2">{{ item.label }}</p>{% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}