{% for source in report.source_dict %}
    <li>
        <a href="#supplement-{{ forloop.counter }}">Приложение {{ forloop.counter }}</a>
        <ul>
            {% for supplement_type, items in report.supplement_dict.items %}
                {% if items %}
                    <li>
                        <a href="#{{ supplement_type }}-{{ forloop.parentloop.counter }}">
                            {% if supplement_type == "maps" %}Карты
                            {% elif supplement_type == "schemas" %}Схемы
                            {% elif supplement_type == "object_fotos" %}Общий вид
                            {% elif supplement_type == "pits_fotos" %}Шурфы
                            {% elif supplement_type == "excavation_fotos" %}Раскопы
                            {% elif supplement_type == "material_fotos" %}Археологический материал
                            {% elif supplement_type == "heritage_info" %}Данные о ВОАН
                            {% elif supplement_type == "other" %}Иное
                            {% elif supplement_type == "title_page" %}Титульник
                            {% elif supplement_type == "docs" %}Документы
                            {% elif supplement_type == "open_list" %}Открытый лист
                            {% elif supplement_type == "no_captions" %}Без подписей
                                {% else %}{{ supplement_type|title }}
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endfor %}