{% extends 'base.html' %}

{% block title %}Учётная карта объекта{% endblock %}

{% block content %}

    <br>
    <h2 align="center">Учётная карта объекта: {{ account_card.name }}</h2>

    <div>
        {% if account_card.upload_source %}
            <a class="btn btn-primary lang" style="border-radius: 12px; margin-right:10px;"
               href="/{{ account_card.source }}">
                Исходник: {{ account_card.origin_filename }}
            </a>
            <br>
            <br>
        {% endif %}
        {% if account_card.coordinates %}
            <a class="btn btn-success lang" style="border-radius: 12px; margin-right:10px;"
               href="/map/account_card/{{ account_card.id }}">
                Просмотр координат
            </a>
            <br>
            <br>
        {% endif %}
        {% if account_card.user.id == user.id or user.is_superuser %}
            <a href="/account_cards_edit/{{ account_card.id }}">
                <button type="button" class="btn btn-primary"
                        style="border-radius: 12px; margin-right:10px; margin-top: 15px;">
                    Редактировать
                </button>
            </a>
            <button type="button" class="btn btn-danger" data-bs-target="#delete_account_card" data-bs-toggle="modal">
                Удалить
            </button>
        {% endif %}
    </div>

    {% block modal_dialog %}
        <div class="modal fade" id="delete_account_card" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Вы уверены, что хотите удалить эту учётную карту?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{% url 'account_cards_delete' account_card.id %}" class="mt-3">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Отмена
                            </button>
                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">
                                Удалить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock modal_dialog %}

    <hr>
    <h2>Содержание</h2>
    <ul>
        {% if account_card.name %}
            <li><a href="#name">Наименование объекта</a></li>
        {% endif %}
        {% if account_card.creation_time %}
            <li><a href="#creation_time">Время создания</a></li>
        {% endif %}
        {% if account_card.address %}
            <li><a href="#address">Адрес</a></li>
        {% endif %}
        {% if account_card.object_type %}
            <li><a href="#object_type">Вид объекта</a></li>
        {% endif %}
        {% if account_card.general_classification %}
            <li><a href="#general_classification">Общая видовая принадлежность</a></li>
        {% endif %}
        {% if account_card.description %}
            <li><a href="#description">Описание</a></li>
        {% endif %}
        {% if account_card.usage %}
            <li><a href="#usage">Использование</a></li>
        {% endif %}
        {% if account_card.discovery_info %}
            <li><a href="#discovery_info">Сведения о выявлении</a></li>
        {% endif %}
        {% if account_card.supplement %}
            <li><a href="#supplement">Приложение</a></li>
        {% endif %}
    </ul>
    <hr>

    {% if account_card.name %}
        <h2 id="name">Наименование объекта</h2>
        <p>{{ account_card.name | safe }}</p>
    {% endif %}

    {% if account_card.creation_time %}
        <h2 id="creation_time">Время создания</h2>
        <p>{{ account_card.creation_time | safe }}</p>
    {% endif %}

    {% if account_card.address %}
        <h2 id="address">Адрес</h2>
        <p>{{ account_card.address | safe }}</p>
    {% endif %}

    {% if account_card.object_type %}
        <h2 id="object_type">Вид объекта</h2>
        <p>{{ account_card.object_type | safe }}</p>
    {% endif %}

    {% if account_card.general_classification %}
        <h2 id="general_classification">Общая видовая принадлежность</h2>
        <p>{{ account_card.general_classification | safe }}</p>
    {% endif %}

    {% if account_card.description %}
        <h2 id="description">Описание</h2>
        <p>{{ account_card.description | safe }}</p>
    {% endif %}

    {% if account_card.usage %}
        <h2 id="usage">Использование</h2>
        <p>{{ account_card.usage | safe }}</p>
    {% endif %}

    {% if account_card.discovery_info %}
        <h2 id="discovery_info">Сведения о выявлении</h2>
        <p>{{ account_card.discovery_info | safe }}</p>
    {% endif %}

    {% if account_card.supplement %}
        {% with truncated_path=account_card.source|cut:'.pdf'|cut:'.docx'|cut:'.doc'|add:'/' %}

            <h2 id="supplement-{{ forloop.counter }}">Приложение {{ forloop.counter }}</h2>

            {% if account_card.supplement.maps %}
                <h3 id="maps-{{ forloop.counter }}">Карты</h3>
                {% for map in account_card.supplement.maps %}
                    <a data-fancybox="gallery" href="/{{ map.source }}" data-caption="{{ map.label }}">
                        <img id="image-link-{{ map.image_num }}" src="/{{ map.source }}" loading="lazy"
                             alt="{{ map.source }}"
                             style="max-width: 400px;"/>
                        <p>{{ map.label }}</p>
                    </a>
                    <br>
                {% endfor %}
            {% endif %}

            {% if account_card.supplement.schemas %}
                <h3 id="schemas-{{ forloop.counter }}">Схемы</h3>
                {% for scheme in account_card.supplement.schemas %}
                    <a data-fancybox="gallery" href="/{{ scheme.source }}" data-caption="{{ scheme.label }}">
                        <img id="image-link-{{ scheme.image_num }}" src="/{{ scheme.source }}" loading="lazy"
                             alt="{{ scheme.source }}" style="max-width: 400px;"/>
                        <p>{{ scheme.label }}</p>
                    </a>
                    <br>
                {% endfor %}
            {% endif %}

            {% if account_card.supplement.object_fotos %}
                <h3 id="object_fotos-{{ forloop.counter }}">Общий вид</h3>
                {% for object in account_card.supplement.object_fotos %}
                    <a data-fancybox="gallery" href="/{{ object.source }}" data-caption="{{ object.label }}">
                        <img id="image-link-{{ object.image_num }}" src="/{{ object.source }}" loading="lazy"
                             alt="{{ object.source }}" style="max-width: 400px;"/>
                        <p>{{ object.label }}</p>
                    </a>
                    <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}

    <style>
        p {
            white-space: pre-wrap;
        }
    </style>

{% endblock %}