{% extends 'bases/report_base.html' %}

{% block report_title %}Акт{% endblock %}
{% block report_header %}Акт: {{ report.expert }} от {{ report.finish_date }}{% endblock %}
{% block map_link %}/map/act/{{ report.id }}{% endblock %}
{% block report_delete_url %}{% url 'acts_delete' report.id %}{% endblock %}
{% block reprocess_url %}{% url 'doc_reprocess' report.id %}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/acts_register/">Реестр актов</a></li>
<li class="breadcrumb-item active" aria-current="page">Акт: {{ report.expert }}
    от {{ report.finish_date }}
</li>
{% endblock %}

{% block report_sources %}
{% include 'includes/django_messages.html' %}
{% for source in report.source_dict %}
<a class="btn btn-primary lang source-button" style="border-radius: 12px; margin-right:10px;"
   href="/{{ source.path }}">
    Исходник: {{ source.origin_filename }}
</a>
<br>
<br>
{% endfor %}
{% endblock %}

{% block report_actions %}
{% if report.user.id == user.id or user.is_superuser %}
<a href="/acts_edit/{{ report.id }}">
    <button type="button" class="btn btn-primary edit-button"
            style="border-radius: 12px; margin-right:10px; margin-top: 15px;">
        Редактировать
    </button>
</a>
<button type="button" class="btn btn-danger delete-button" data-bs-target="#delete_report"
        data-bs-toggle="modal">
    Удалить
</button>
<br>
<br>
<button type="button" class="btn btn-primary reprocess-button" data-bs-target="#reprocess"
        data-bs-toggle="modal">
    Повторная обработка документа
</button>
{% endif %}
{% endblock %}

{% block report_modals %}
{{ block.super }}
<!-- Модальное окно повторной обработки (дополнение к наследуемым модалкам) -->
<div class="modal fade" id="reprocess" tabindex="-1">
    <div class="modal-dialog">
        <form method="POST" action="{% url 'doc_reprocess' report.id %}" class="mt-3">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Повторная обработка документа</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">Выберите раздеы документа для повторной обработки:<br>
                    <label><input type="checkbox" name="select_text" checked> Текст</label><br>
                    <label><input type="checkbox" name="select_enrich"> Сопоставлять с записями в реестре</label><br>
                    <label><input type="checkbox" name="select_image" checked>
                        Изображения</label><br>
                    <label><input type="checkbox" name="select_coord" checked>
                        Координаты</label><br>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Отмена
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                        Начать обработку
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block report_contents %}
<ul>
    <li><a href="#act">Акт</a></li>
    {% if report.start_date %}
    <li><a href="#start_date">Дата начала проведения экспертизы</a></li>
    {% endif %}
    {% if report.end_date %}
    <li><a href="#end_date">Дата окончания проведения экспертизы</a></li>
    {% endif %}
    {% if report.exp_place %}
    <li><a href="#exp_place">Место проведения экспертизы</a></li>
    {% endif %}
    {% if report.exp_customer %}
    <li><a href="#exp_customer">Заказчик экспертизы</a></li>
    {% endif %}
    {% if report.exp_expert %}
    <li><a href="#exp_expert">Сведения об эксперте</a></li>
    {% endif %}
    {% if report.relationship %}
    <li><a href="#relationship">Отношения к заказчику</a></li>
    {% endif %}
    {% if report.goal %}
    <li><a href="#goal">Цель экспертизы</a></li>
    {% endif %}
    {% if report.object %}
    <li><a href="#object">Объект экспертизы</a></li>
    {% endif %}
    {% if report.docs %}
    <li><a href="#docs">Перечень документов, представленных заявителем</a></li>
    {% endif %}
    {% if report.exp_info %}
    <li><a href="#exp_info">Сведения о проведенных исследованиях</a></li>
    {% endif %}
    {% if report.exp_facts %}
    <li><a href="#exp_facts">Факты и сведения, выявленные и установленные в результате проведенных исследований</a></li>
    {% endif %}
    {% if report.literature %}
    <li><a href="#literature">Литература</a></li>
    {% endif %}
    {% if report.exp_conclusion %}
    <li><a href="#exp_conclusion">Заключение</a></li>
    {% endif %}
    {% if report.supplement_dict %}
    {% include 'includes/supplement_contents.html' %}
    {% endif %}
</ul>
{% endblock %}

{% block report_sections %}
<h2 id="act">Акт</h2>
<p>{{ report.act|default:report.name_number|linebreaksbr }}</p>

{% if report.start_date %}
<h2 id="start_date">Дата начала проведения экспертизы</h2>
<p>{{ report.start_date|safe|linebreaksbr }}</p>
{% endif %}

{% if report.end_date %}
<h2 id="end_date">Дата окончания проведения экспертизы</h2>
<p>{{ report.end_date|safe|linebreaksbr }}</p>
{% endif %}

{% if report.exp_place %}
<h2 id="exp_place">Место проведения экспертизы</h2>
<p>{{ report.exp_place|safe|linebreaksbr }}</p>
{% endif %}

{% if report.exp_customer %}
<h2 id="exp_customer">Заказчик экспертизы</h2>
<p>{{ report.exp_customer|safe|linebreaksbr }}</p>
{% endif %}

{% if report.exp_expert %}
<h2 id="exp_expert">Сведения об эксперте</h2>
<p>{{ report.exp_expert|safe|linebreaksbr }}</p>
{% endif %}

{% if report.relationship %}
<h2 id="relationship">Отношения к заказчику</h2>
<p>{{ report.relationship|safe|linebreaksbr }}</p>
{% endif %}

{% if report.goal %}
<h2 id="goal">Цель экспертизы</h2>
<p>{{ report.goal|safe|linebreaksbr }}</p>
{% endif %}

{% if report.object %}
<h2 id="object">Объект экспертизы</h2>
<p>{{ report.object|safe|linebreaksbr }}</p>
{% endif %}

{% if report.docs %}
<h2 id="docs">Перечень документов, представленных заявителем</h2>
<p>{{ report.docs|safe|linebreaksbr }}</p>
{% endif %}

{% if report.exp_info %}
<h2 id="exp_info">Сведения о проведенных исследованиях</h2>
<p>{{ report.exp_info|safe|linebreaksbr }}</p>
{% endif %}

{% if report.exp_facts %}
<h2 id="exp_facts">Факты и сведения, выявленные и установленные в результате проведенных исследований</h2>
<p>{{ report.exp_facts|safe|linebreaksbr }}</p>
{% endif %}

{% if report.literature %}
<h2 id="literature">Литература</h2>
<p>{{ report.literature|safe|linebreaksbr }}</p>
{% endif %}

{% if report.exp_conclusion %}
<h2 id="exp_conclusion">Заключение</h2>
<p>{{ report.exp_conclusion|safe|linebreaksbr }}</p>
{% endif %}
{% endblock %}