{% extends 'base.html' %}

{% block title %}Реестр актов{% endblock %}

{% block content %}

    <br>
    <h2 align="center">Реестр актов</h2>
    <br>

    <div class="accordion" id="accordionColumns">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Отображение колонок
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionColumns">
                <div class="accordion-body">
                    <label><input type="checkbox" class="column-toggle" data-column="0" checked> Год</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="1" checked> Дата окончания
                        проведения
                        ГИКЭ</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="2" checked> Вид ГИКЭ</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="3" checked> Номер и наименование
                        Акта
                        ГИКЭ</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="4" checked> Место проведения
                        экспертизы</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="5" checked> Заказчик
                        работ</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="6" checked> Площадь,
                        параметры</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="7" checked> Эксперт</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="8" checked> Исполнитель</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="9" checked> ОЛ</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="10" checked> Заключение</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="11" checked> Объекты вблизи</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="12" checked> Владелец
                        документа</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="13" checked> Источник</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="14" checked> Дата
                        загрузки</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="15" checked> Формализованный
                        документ</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="16" checked> Исходный
                        документ</label><br>
                    <label><input type="checkbox" class="column-toggle" data-column="17" checked> Редактирование</label><br>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                    Фильтры
                </button>
            </h2>
            <div id="collapseFilters" class="accordion-collapse collapse" data-bs-parent="#accordionColumns">
                <div class="accordion-body">
                    <form id="filterForm">
                        <div class="mb-3" id="filterYearContainer">
                            <label for="filterYear" class="form-label">Год</label>
                            <input type="text" class="form-control" id="filterYear" placeholder="Введите год">
                        </div>
                        <div class="mb-3" id="filterFinishDateContainer">
                            <label for="filterFinishDate" class="form-label">Дата окончания</label>
                            <input type="text" class="form-control" id="filterFinishDate"
                                   placeholder="Введите дату окончания">
                        </div>
                        <div class="mb-3" id="filterTypeContainer">
                            <label for="filterType" class="form-label">Вид ГИКЭ</label>
                            <input type="text" class="form-control" id="filterType" placeholder="Введите вид ГИКЭ">
                        </div>
                        <div class="mb-3" id="filterNameNumberContainer">
                            <label for="filterNameNumber" class="form-label">Номер и наименование</label>
                            <input type="text" class="form-control" id="filterNameNumber"
                                   placeholder="Введите номер и наименование">
                        </div>
                        <div class="mb-3" id="filterPlaceContainer">
                            <label for="filterPlace" class="form-label">Место проведения</label>
                            <input type="text" class="form-control" id="filterPlace"
                                   placeholder="Введите место проведения">
                        </div>
                        <div class="mb-3" id="filterCustomerContainer">
                            <label for="filterCustomer" class="form-label">Заказчик</label>
                            <input type="text" class="form-control" id="filterCustomer" placeholder="Введите заказчика">
                        </div>
                        <div class="mb-3" id="filterAreaContainer">
                            <label for="filterArea" class="form-label">Площадь</label>
                            <input type="text" class="form-control" id="filterArea" placeholder="Введите площадь">
                        </div>
                        <div class="mb-3" id="filterExpertContainer">
                            <label for="filterExpert" class="form-label">Эксперт</label>
                            <input type="text" class="form-control" id="filterExpert" placeholder="Введите эксперта">
                        </div>
                        <div class="mb-3" id="filterExecutionerContainer">
                            <label for="filterExecutioner" class="form-label">Исполнитель</label>
                            <input type="text" class="form-control" id="filterExecutioner"
                                   placeholder="Введите исполнителя">
                        </div>
                        <div class="mb-3" id="filterOpenListContainer">
                            <label for="filterOpenList" class="form-label">ОЛ</label>
                            <input type="text" class="form-control" id="filterOpenList" placeholder="Введите ОЛ">
                        </div>
                        <div class="mb-3" id="filterConclusionContainer">
                            <label for="filterConclusion" class="form-label">Заключение</label>
                            <input type="text" class="form-control" id="filterConclusion"
                                   placeholder="Введите заключение">
                        </div>
                        <div class="mb-3" id="filterBorderObjectsContainer">
                            <label for="filterBorderObjects" class="form-label">Границы объектов</label>
                            <input type="text" class="form-control" id="filterBorderObjects"
                                   placeholder="Введите границы объектов">
                        </div>
                        <div class="mb-3" id="filterOwnerContainer">
                            <label for="filterOwner" class="form-label">Владелец документа</label>
                            <input type="text" class="form-control" id="filterOwner"
                                   placeholder="Введите владельца документа">
                        </div>
                        <div class="mb-3" id="filterSourceContainer">
                            <label for="filterSource" class="form-label">Источник</label>
                            <input type="text" class="form-control" id="filterSource" placeholder="Введите источник">
                        </div>
                        <div class="mb-3" id="filterDateUploadedContainer">
                            <label for="filterDateUploaded" class="form-label">Дата загрузки</label>
                            <input type="text" class="form-control" id="filterDateUploaded"
                                   placeholder="Введите дату загрузки">
                        </div>
                        <div class="mb-3">
                            <label>
                                <input type="checkbox" id="showMyDocs"/> Показать только свои документы
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Применить фильтры</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a href="/acts_register_download/">
        Скачать реестр в формате .xlsx
    </a>

    <div class="table-responsive overflow-auto">
        <table class="table table-striped w-100">
            <thead>
            <tr>
                <th>Год</th>
                <th>Дата окончания проведения ГИКЭ</th>
                <th>Вид ГИКЭ</th>
                <th>Номер (если имеется) и наименование Акта ГИКЭ</th>
                <th>Место проведения экспертизы</th>
                <th>Заказчик работ (*если не указан, то заказчик экспертизы)</th>
                <th>Площадь, протяжённость и/или др. параменты объекта</th>
                <th>Эксперт (физ. или юр.лицо)</th>
                <th>Исполнитель полевых работ (юр. лицо)</th>
                <th>ОЛ</th>
                <th>Заключение. Выявленые объекты.</th>
                <th>Объекты расположенные в непосредственной близости. Для границ</th>
                <th>Владелец документа</th>
                <th>Источник</th>
                <th>Дата загрузки</th>
                <th>Формализованный документ</th>
                <th>Исходный документ</th>
                <th>Редактирование</th>
            </tr>
            </thead>
            <tbody>
            {% for act in acts %}
                <tr data-act-id="{{ act.id }}"
                    data-user-id="{{ act.user.id }}"
                    data-year="{{ act.year }}"
                    data-finish-date="{{ act.finish_date }}"
                    data-type="{{ act.type }}"
                    data-name-number="{{ act.name_number }}"
                    data-place="{{ act.place }}"
                    data-customer="{{ act.customer }}"
                    data-area="{{ act.area }}"
                    data-expert="{{ act.expert }}"
                    data-executioner="{{ act.executioner }}"
                    data-open-list="{{ act.open_list }}"
                    data-conclusion="{{ act.conclusion }}"
                    data-border-objects="{{ act.border_objects }}"
                    data-owner="{{ act.user.username }}"
                    data-source="{{ act.upload_source }}"
                    data-date-uploaded="{{ act.date_uploaded }}">
                    <td>
                        {{ act.year }}
                    </td>
                    <td>
                        {{ act.finish_date }}
                    </td>
                    <td>
                        {{ act.type }}
                    </td>
                    <td>
                        {{ act.name_number }}
                    </td>
                    <td>
                        {{ act.place }}
                    </td>
                    <td>
                        {{ act.customer }}
                    </td>
                    <td>
                        {{ act.area }}
                    </td>
                    <td>
                        {{ act.expert }}
                    </td>
                    <td>
                        {{ act.executioner }}
                    </td>
                    <td>
                        {{ act.open_list }}
                    </td>
                    <td>
                        {{ act.conclusion }}
                    </td>
                    <td>
                        {{ act.border_objects }}
                    </td>
                    <td>
                        <a href="/users/{{ act.user.id }}">
                            <img src="{{ act.user.avatar.url }}" class="rounded-circle" height="25" width="25"
                                 loading="lazy"
                                 style="object-fit: cover;" alt=""/>
                            {{ act.user.username }}
                        </a>
                    </td>
                    <td>
                        <a{% if act.upload_source.link %}
                            href="{{ act.upload_source.link }}" {% endif %}>{{ act.upload_source.source }}</a>
                    </td>
                    <td>
                        {{ act.date_uploaded }}
                    </td>
                    <td>
                        <a href="/acts/{{ act.id }}">
                            <button type="button" class="btn btn-primary"
                                    style="border-radius: 12px; margin-right:10px;">
                                Просмотр
                            </button>
                        </a>
                    </td>
                    <td>
                        {% for source in act.source %}
                            <a href="/{{ source.path }}">
                                <!--
                                {% if source.type == 'all' %}
                                    Отчёт
                                {% elif source.type == 'text' %}
                                    Текст
                                {% elif source.type == 'images' %}
                                    Приложение
                                {% endif %}
                                -->
                                {{ source.origin_filename }}
                            </a>
                            <br>
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if act.user.id == user.id or user.is_superuser %}
                            <a href="/acts_edit/{{ act.id }}">
                                <button type="button" class="btn btn-primary"
                                        style="border-radius: 12px; margin-right:10px;">
                                    Редактировать
                                </button>
                            </a>
                            <form method="POST" action="{% url 'acts_delete' act.id %}" class="mt-3">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"
                                        style="border-radius: 12px; margin-right:10px;"
                                        onclick="return confirm('Вы уверены, что хотите удалить этот акт?');">Удалить
                                </button>
                            </form>
                        {% else %}
                            Нет доступа
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('filterForm').addEventListener('submit', function (e) {
            e.preventDefault(); // Отменяем стандартное действие формы

            const yearFilter = document.getElementById('filterYear').value.toLowerCase();
            const finishDateFilter = document.getElementById('filterFinishDate').value.toLowerCase();
            const typeFilter = document.getElementById('filterType').value.toLowerCase();
            const nameNumberFilter = document.getElementById('filterNameNumber').value.toLowerCase();
            const placeFilter = document.getElementById('filterPlace').value.toLowerCase();
            const customerFilter = document.getElementById('filterCustomer').value.toLowerCase();
            const areaFilter = document.getElementById('filterArea').value.toLowerCase();
            const expertFilter = document.getElementById('filterExpert').value.toLowerCase();
            const executionerFilter = document.getElementById('filterExecutioner').value.toLowerCase();
            const openListFilter = document.getElementById('filterOpenList').value.toLowerCase();
            const conclusionFilter = document.getElementById('filterConclusion').value.toLowerCase();
            const borderObjectsFilter = document.getElementById('filterBorderObjects').value.toLowerCase();
            const ownerFilter = document.getElementById('filterOwner').value.toLowerCase();
            const sourceFilter = document.getElementById('filterSource').value.toLowerCase();
            const dateUploadedFilter = document.getElementById('filterDateUploaded').value.toLowerCase();
            const showMyDocs = document.getElementById('showMyDocs').checked;

            const rows = document.querySelectorAll('.table tbody tr');
            rows.forEach(row => {
                const yearText = row.dataset.year.toLowerCase();
                const finishDateText = row.dataset.finishDate.toLowerCase();
                const typeText = row.dataset.type.toLowerCase();
                const nameNumberText = row.dataset.nameNumber.toLowerCase();
                const placeText = row.dataset.place.toLowerCase();
                const customerText = row.dataset.customer.toLowerCase();
                const areaText = row.dataset.area.toLowerCase();
                const expertText = row.dataset.expert.toLowerCase();
                const executionerText = row.dataset.executioner.toLowerCase();
                const openListText = row.dataset.openList.toLowerCase();
                const conclusionText = row.dataset.conclusion.toLowerCase();
                const borderObjectsText = row.dataset.borderObjects.toLowerCase();
                const ownerText = row.dataset.owner.toLowerCase();
                const sourceText = row.dataset.source.toLowerCase();
                const dateUploadedText = row.dataset.dateUploaded.toLowerCase();
                const userId = row.dataset.userId;

                const isYearMatch = yearText.includes(yearFilter);
                const isFinishDateMatch = finishDateText.includes(finishDateFilter);
                const isTypeMatch = typeText.includes(typeFilter);
                const isNameNumberMatch = nameNumberText.includes(nameNumberFilter);
                const isPlaceMatch = placeText.includes(placeFilter);
                const isCustomerMatch = customerText.includes(customerFilter);
                const isAreaMatch = areaText.includes(areaFilter);
                const isExpertMatch = expertText.includes(expertFilter);
                const isExecutionerMatch = executionerText.includes(executionerFilter);
                const isOpenListMatch = openListText.includes(openListFilter);
                const isConclusionMatch = conclusionText.includes(conclusionFilter);
                const isBorderObjectsMatch = borderObjectsText.includes(borderObjectsFilter);
                const isAllOwnerMatch = ownerText.includes(ownerFilter);
                const isSourceMatch = sourceText.includes(sourceFilter);
                const isDateUploadedMatch = dateUploadedText.includes(dateUploadedFilter);
                const isOwnerMatch = userId === "{{ user.id }}";

                const showRow = (isYearMatch && isFinishDateMatch && isTypeMatch && isNameNumberMatch &&
                    isPlaceMatch && isCustomerMatch && isAreaMatch && isExpertMatch &&
                    isExecutionerMatch && isOpenListMatch && isConclusionMatch &&
                    isBorderObjectsMatch && isAllOwnerMatch && isSourceMatch &&
                    isDateUploadedMatch) && (!showMyDocs || isOwnerMatch);
                if (showRow) {
                    row.style.display = ''; // показываем строку
                } else {
                    row.style.display = 'none'; // скрываем строку
                }
            });
        });

        function updateFilterVisibility() {
            let columnToggles = document.querySelectorAll('.column-toggle');
            columnToggles.forEach(toggle => {
                let columnIndex = toggle.getAttribute('data-column');
                let columns_count = 18;
                if (columnIndex > columns_count - 3) {
                    return;
                }
                let filterContainer = document.getElementById('filterForm').children[columnIndex];

                if (toggle.checked) {
                    filterContainer.style.display = '';
                } else {
                    filterContainer.style.display = 'none';
                }
            });
        }

        document.querySelectorAll('.column-toggle').forEach(toggle => {
            toggle.addEventListener('change', updateFilterVisibility);
        });

        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(updateFilterVisibility, 300);
        });
    </script>
{% endblock %}