{% extends 'bases/coordinate_editor_base.html' %}

{% block geo_object_type %}коммерческого предложения{% endblock %}
{% block geo_object_name %}коммерческого предложения{% endblock %}
{% block delete_geo_url %}{% url 'commercial_offers_delete' commercial_offer.id %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/commercial_offers_register/">Реестр коммерческих предложений</a></li>
    <li class="breadcrumb-item active" aria-current="page">Редактирование {{ commercial_offer.origin_filename }}
    </li>
{% endblock %}

{% block coordinate_sections %}
    {% include 'includes/coordinates_content.html' with object=commercial_offer %}
{% endblock %}