{% extends 'base.html' %}
{% load static %}

{% block title %}Деконструктор отчётов{% endblock %}

{% block content %}
	<!-- Заголовок страницы -->
    <header class="hero">
        <div class="container">
            <h1 class="display-4">Деконструктор Отчётов</h1>
            <p class="lead">Выберите файл и нажмите кнопку для деконструкции.</p>
        </div>
    </header>

    <!-- Секция загрузки файла -->
    <div class="container upload-section">
        <h2 class="text-center">Загрузите файл</h2>
        <form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			
			<!--
			<div class="progress">
			  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
			</div>
			<br>
			-->
			
			{% if task_id %}
				<div class='progress-wrapper'>
				  <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
				</div>
				<div id="progress-bar-message">Ожидание загрузки файла...</div>
				<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
				<script>
					document.addEventListener("DOMContentLoaded", function () {
					  var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
					  CeleryProgressBar.initProgressBar(progressUrl);
					});
				</script>
			{% endif %}
			
			<button type="submit">Загрузить</button>
		</form>

		{% if table %}
            <h2>Считанные данные:</h2>
			<div class="table-responsive">
				{{ table|safe }}  <!-- Безопасное отображение HTML -->
			</div>
        {% endif %}
    </div>
{% endblock %}
