{% extends 'base.html' %}

{% block title %}Деконструктор отчётов{% endblock %}

{% block content %}
	<!-- Заголовок страницы -->
    <header class="hero">
        <div class="container">
            <h1 class="display-4">Деконструктор Отчётов</h1>
            <p class="lead">Выберите файл и нажмите кнопку для деконструкции.</p>
        </div>
    </header>

    <!-- Секция загрузки файла -->
    <div class="container upload-section">
        <h2 class="text-center">Загрузите файл</h2>
        <form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Загрузить</button>
		</form>

		{% if table %}
            <h2>Считанные данные:</h2>
			<div class="table-responsive">
				{{ table|safe }}  <!-- Безопасное отображение HTML -->
			</div>
        {% endif %}
    </div>
{% endblock %}
