{% extends 'base.html' %}

{% block title %}Демонстратор{% endblock %}

{% block content %}
	<!-- Заголовок страницы -->
    <header class="hero">
        <div class="container">
            <h1 class="display-4">Реестр актов</h1>
        </div>
    </header>

    <!-- Секция загрузки файла -->
    <div class="container upload-section">
		{% if table %}
			<div class="table-responsive">
				{{ table|safe }}  <!-- Безопасное отображение HTML -->
			</div>
        {% endif %}
    </div>
{% endblock %}