{% extends 'bases/base.html' %}
{% load static %}

{% block title %}Отчёты с внешних источников{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Менеджер загрузок с внешних источников</li>
{% endblock %}

{% block content %}

<div class="container upload-section-container" style="margin-top: 15px;">
    <h2 style="margin-top: 5px; margin-bottom: 15px;">Сайт службы по государственной охране объектов культурного
        наследия Красноярского
        края</h2>
    <form method="post" action="/external_sources/">
        {% csrf_token %}
        <div class="form-check mb-3" id="date-toggle-container">
            <input class="form-check-input" type="checkbox" id="dateToggle" name="enableDateRange">
            <label class="form-check-label" for="dateToggle">Задать временной диапазон загружаемых отчётов</label>
        </div>

        <div id="dateFields" style="display: none;">
            <div class="mb-3">
                <label for="startDate" class="form-label">Дата начала</label>
                <input type="text" id="startDate" class="form-control datepicker" name="startDate"
                       placeholder="Выберите дату начала">
            </div>
            <div class="mb-3">
                <label for="endDate" class="form-label">Дата окончания</label>
                <input type="text" id="endDate" class="form-control datepicker" name="endDate"
                       placeholder="Выберите дату окончания">
            </div>
        </div>

        <div class="accordion" id="accordionColumns" style="margin-bottom: 12px;">
            <div class="accordion-item" id="document-part-choice">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Выбор разделов документа для обработки
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionColumns">
                    <div class="accordion-body">
                        <label><input type="checkbox" name="select_text" checked> Текст</label><br>
                        <label><input type="checkbox" name="select_image" checked> Изображения</label><br>
                        <label><input type="checkbox" name="select_coord" checked> Координаты</label><br>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="border-radius: 12px; margin-right:10px;">Загрузить
            файлы
        </button>
    </form>

    {% if is_processing %}
    <h4>Загрузка файлов с сайта ООКН началась. Прогресс вы можете посмотреть ниже - в журнале загрузок.</h4>
    {% endif %}

    <br>
    <h3 align="center">Журнал загрузок</h3>
    <br>

    {% if is_processing or download_report or final_report or interrupted_report or intermediate_report %}
    <p>Отчёты о последнем сканировании:</p>
    {% if download_report %}
    <a href="/uploaded_files/Акты ГИКЭ/download_report.html">Общий отчёт</a><br>
    {% endif %}
    {% if final_report %}
    <a href="/uploaded_files/Акты ГИКЭ/final_report.html">Финальный отчёт</a><br>
    {% endif %}
    {% if interrupted_report %}
    <a href="/uploaded_files/Акты ГИКЭ/interrupted_report.html">Отчёт на момент прерывания сканирования</a><br>
    {% endif %}
    {% if intermediate_report %}
    <a href="/uploaded_files/Акты ГИКЭ/intermediate_report.html">Промежуточный отчёт</a><br>
    {% endif %}
    {% endif %}

    {% include 'includes/external_scan_progress_bar.html' %}

    <div class="container upload-section">
        <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
        <script>
            let i = 0;
            let progress_bars;
        </script>
        {% if tasks_id %}
        {% for task_id in tasks_id %}
        <div id="download-{{ task_id }}">
            <div class="border border-secondary" style="padding: 5px;">
                {% if user.is_superuser %}
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div></div>
                    <button class="btn btn-link"
                            style="padding: 0; border: none; background: none; color: orangered; font-size: 25px; font-weight: bold; text-decoration: none;"
                            type="button" data-bs-target="#delete_download_{{ task_id }}"
                            data-bs-toggle="modal">
                        &times;
                    </button>
                </div>
                {% endif %}
                <div class='progress-wrapper-{{ task_id }} progress'
                     style=" height: 100%; border-radius: 15px;">
                    <div id='progress-bar-{{ task_id }}'
                         class='progress-bar progress-bar-striped'
                         role="progressbar"
                         style="background-color: #68a9ef; width: 0%; background-size: 2rem 2rem;">&nbsp;
                    </div>
                </div>
                <div id="progress-bar-message-{{ task_id }}">Ожидание загрузки файла...</div>
                <div id="progress-result-{{ task_id }}"></div>
                <div id="pb-progress-{{ task_id }}"></div>
                <div id="pb-time-start-{{ task_id }}"></div>
                <div id="pb-time-end-{{ task_id }}"></div>
                <div id="pb-files-{{ task_id }}"></div>
            </div>
            <br>
        </div>

        {% block modal_dialog %}
        <div class="modal fade" id="delete_download_{{ task_id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Вы уверены, что хотите удалить данную загрузку?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                onclick="confirmDelete(`{{ task_id }}`)">Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock modal_dialog %}
        {% endfor %}
        {% else %}
        <a>Здесь будет отображён прогресс загрузки файлов</a>
        {% endif %}
    </div>
    <script src="{% static 'celery_progress/celery_progress_custom_funcs.js' %}"></script>
    <script>
        let defaultMessages = {
            waiting: 'Ожидание загрузки...',
            started: 'Загрузка началась...',
        }

        function fetchTasks() {
            $.ajax({
                url: '/api/get_user_tasks_external/',
                type: 'GET',
                success: function (data) {
                    data = data.tasks_id
                    data.forEach(function (task) {
                        if (task !== undefined && !document.getElementById('download-' + task)) {
                            addTaskToInterface(task);
                        } else {
                            {% if tasks_id %}
                                {% for task_id in tasks_id %}
                                    if (!data.includes(`{{ task_id }}`)) {
                                        document.querySelector('#download-' + `{{ task_id }}`).style.display = 'none';
                                    }
                                {% endfor  %}
                            {% endif  %}
                        }
                    });
                },
                error: function (error) {
                    console.error("Ошибка при получении задач:", error);
                }
            });
        }

        function addTaskToInterface(task) {
            // Создайте HTML-элемент для новой задачи
            const taskElement = document.createElement('div');
            taskElement.id = 'download-' + task;
            taskElement.innerHTML = `
                <div class="border border-secondary" style="padding: 5px;">
                    {% if user.is_superuser %}
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <div></div>
                            <button class="btn btn-link"
                                    style="padding: 0; border: none; background: none; color: orangered; font-size: 25px; font-weight: bold; text-decoration: none;"
                                    type="button" data-bs-target="#delete_download_{{ task_id }}"
                                    data-bs-toggle="modal">
                                &times;
                            </button>
                        </div>
                    {% endif %}
                    <div class='progress-wrapper-${task}'>
                        <div id='progress-bar-${task}' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
                    </div>
                    <div id="progress-bar-message-${task}">Задача добавлена...</div>
                    <div id="progress-result-${task}"></div>
                    <div id="pb-progress-${task}"></div>
                    <div id="pb-time-start-${task}"></div>
                    <div id="pb-time-end-${task}"></div>
                    <div id="pb-files-${task}"></div>
                </div>
                <br>

                {% block modal_dialog_additional %}
                    <div class="modal fade" id="delete_download_${task}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Вы уверены, что хотите удалить данную загрузку?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                            onclick="confirmDelete(${task})">Удалить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock modal_dialog_additional %}
            `;
            document.querySelector('.upload-section').prepend(taskElement);
            CeleryProgressBar.initProgressBar("/celery-progress/" + task, {
                progressBarId: "progress-bar-" + task,
                progressBarMessageId: "progress-bar-message-" + task,
                resultElementId: "progress-result-" + task,
                defaultMessages: defaultMessages,
                onSuccess: onSuccessCustom,
                onResult: onResultCustom,
                onError: onErrorCustom,
                onTaskError: onTaskErrorCustom,
                onRetry: onRetryCustom,
                onIgnored: onIgnoredCustom,
                onProgress: onProgressCustom,
            });
        }

        function confirmDelete(task_id) {
            $.ajax({
                url: '/api/download_delete/' + task_id + '/',
                type: 'GET',
                success: function (response) {
                    document.querySelector('#download-' + task_id).style.display = 'none';
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            setInterval(fetchTasks, 5000);
            const task_urls = [
                {% for task_id in tasks_id %}
                    "/celery-progress/" + `{{ task_id }}`,
                {% endfor %}];
            {% for task_id in tasks_id %}
                CeleryProgressBar.initProgressBar(task_urls[{{ forloop.counter }}-1], {
                    progressBarId: "progress-bar-" + `{{ task_id }}`,
                    progressBarMessageId: "progress-bar-message-" + `{{ task_id }}`,
                    resultElementId: "progress-result-" + `{{ task_id }}`,
                    defaultMessages: defaultMessages,
                    onSuccess: onSuccessCustom,
                    onResult: onResultCustom,
                    onError: onErrorCustom,
                    onTaskError: onTaskErrorCustom,
                    onRetry: onRetryCustom,
                    onIgnored: onIgnoredCustom,
                    onProgress: onProgressCustom,
                });
            {% endfor %}
        });

        document.getElementById('dateToggle').addEventListener('change', function () {
            const dateFields = document.getElementById('dateFields');
            dateFields.style.display = this.checked ? 'block' : 'none';
        });

        const startDatePicker = flatpickr("#startDate", {
            dateFormat: "d-m-Y",
            defaultDate: "today",
            locale: "ru",
            maxDate: "today",
            onChange: function (selectedDates, dateStr, instance) {
                endDatePicker.set("minDate", selectedDates[0]);
            }
        });

        const endDatePicker = flatpickr("#endDate", {
            dateFormat: "d-m-Y",
            defaultDate: "today",
            locale: "ru",
            maxDate: "today",
            onChange: function (selectedDates, dateStr, instance) {
                startDatePicker.set("maxDate", selectedDates[0]);
            }
        });
    </script>
</div>
{% endblock %}

<script>
    {% block guide_steps %}
        const tourSteps = [
            {
                title: 'Отчёты с внешних источников',
                text: 'На странице отчётов с внешних источников можно произвести автоматизированную загрузку актов ГИКЭ с сайта ООКН.',
                element: null
            },
            {
                title: 'Временной диапазон отчётов',
                text: 'При загрузке отчётов с сайта ООКН можно задать временной промежуток, тогда будут скачаны только те акты, которые попадают в него своей датой окончания проведения экспертизы. Если не указывать временной диапазон, тогда будут скачаны все акты ГИКЭ.',
                element: '#date-toggle-container'
            },
            {
                title: 'Журнал загрузок',
                text: 'Прогресс сканирования сайта ООКН и обработки отдельных отчётов будет отображён в журнале загрузок.',
                element: '.upload-section'
            }
        ];
    {% endblock %}
</script>