{% extends 'bases/coordinate_editor_base.html' %}

{% block geo_object_type %}географического объекта{% endblock %}
{% block geo_object_name %}географического объекта{% endblock %}
{% block delete_geo_url %}{% url 'geo_objects_delete' geo_object.id %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/geo_objects_register/">Реестр географических объектов</a></li>
    <li class="breadcrumb-item active" aria-current="page">Редактирование {{ geo_object.origin_filename }}
    </li>
{% endblock %}

{% block coordinate_sections %}
    {% for group, point in geo_object.coordinates_dict.items %}
        <div class="mb-3" id="polygon-{{ group }}">
            <label for="group[{{ group }}]">Название полигона: </label>
            <input type="text" id="group[{{ group }}]" name="group[{{ group }}]" value="{{ group }}"
                   class="form-control"
                   placeholder="Введите координаты такого формата: [Название точки]: [x]; [y]">
            <br>
            <label for="coordinate_system[{{ group }}]">Система координат
                <div class="tooltipcustom">
                    <span>ℹ️</span>
                    <span class="tooltiptext" style="width: 850px;">
                        Для корректной конвертации координат не меняйте названия полигонов.<br><br>
                        Если система координат задана в исходном файле, тогда система изначально приведёт координаты в универсальный формат wgs84.<br><br>
                        Если система координат не определена автоматически, то нужно указать исходную систему координат, тогда система приведёт координаты в универсальный формат wgs84.<br><br>
                        Если система координат уже задана, то нужно указать ту систему, в которую вы хотите конвертировать данные координаты.
                    </span>
                </div>
                :
            </label>
            <select id="coordinate_system[{{ group }}]" name="coordinate_system[{{ group }}]"
                    class="form-select">
                <option value="None" {% if point.coordinate_system == "None" %}selected{% endif %}>Система
                    координат не определена
                </option>
                <option value="wgs84" {% if point.coordinate_system == "wgs84" %}selected{% endif %}>wgs84
                </option>
                <option value="мск162" {% if point.coordinate_system == "мск162" %}selected{% endif %}>
                    мск162
                </option>
                <option value="мск163" {% if point.coordinate_system == "мск163" %}selected{% endif %}>
                    мск163
                </option>
                <option value="мск164" {% if point.coordinate_system == "мск164" %}selected{% endif %}>
                    мск164
                </option>
                <option value="мск165" {% if point.coordinate_system == "мск165" %}selected{% endif %}>
                    мск165
                </option>
                <option value="мск166" {% if point.coordinate_system == "мск166" %}selected{% endif %}>
                    мск166
                </option>
                <option value="мск167" {% if point.coordinate_system == "мск167" %}selected{% endif %}>
                    мск167
                </option>
                <option value="мск168" {% if point.coordinate_system == "мск168" %}selected{% endif %}>
                    мск168
                </option>
                <option value="мск169" {% if point.coordinate_system == "мск169" %}selected{% endif %}>
                    мск169
                </option>
                <option value="мск170" {% if point.coordinate_system == "мск170" %}selected{% endif %}>
                    мск170
                </option>
                <option value="мск171" {% if point.coordinate_system == "мск171" %}selected{% endif %}>
                    мск171
                </option>
                <option value="мск24зона1"
                        {% if point.coordinate_system == "мск24зона1" %}selected{% endif %}>мск24зона1
                </option>
                <option value="мск24зона2"
                        {% if point.coordinate_system == "мск24зона2" %}selected{% endif %}>мск24зона2
                </option>
                <option value="мск24зона3"
                        {% if point.coordinate_system == "мск24зона3" %}selected{% endif %}>мск24зона3
                </option>
                <option value="мск24зона4"
                        {% if point.coordinate_system == "мск24зона4" %}selected{% endif %}>мск24зона4
                </option>
                <option value="мск24зона5"
                        {% if point.coordinate_system == "мск24зона5" %}selected{% endif %}>мск24зона5
                </option>
                <option value="мск24зона6"
                        {% if point.coordinate_system == "мск24зона6" %}selected{% endif %}>мск24зона6
                </option>
                <option value="гск2011" {% if point.coordinate_system == "гск2011" %}selected{% endif %}>
                    гск2011
                </option>
            </select>
            <br>
            <label for="point[{{ group }}-{{ point_name }}]">Координаты: </label>
            <div id="points-{{ group }}">
                {% for point_name, coordinates in point.items %}
                    {% if point_name != 'coordinate_system' %}
                        <div class="input-group mb-3">
                            <input type="text" name="point[{{ group }}-{{ point_name }}]"
                                   value="{{ point_name }}; {{ coordinates|join:'; ' }}"
                                   class="form-control"
                                   placeholder="Введите координаты такого формата: [Название точки]; [x]; [y]">
                            <button type="button" class="btn btn-danger" onclick="removeInput(this)">Удалить
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button type="button" class="btn btn-primary" onclick="addPoint('{{ group }}')">Добавить
                точку
            </button>
            <button type="button" class="btn btn-danger" onclick="removePolygon('{{ group }}')">Удалить
                полигон
            </button>
            <hr>
        </div>
    {% endfor %}
{% endblock %}

{% block modal_dialog %}
    {{ block.super }}
    <script>
        // Наследуем скрипты из базового шаблона
    </script>
{% endblock %}
