{% extends 'bases/base.html' %}
{% load static %}

{% block title %}Чат с нейросетью{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Чат с нейросетью</li>
{% endblock %}

{% block content %}
    <style>
        .chat-item {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .chat-item.active {
            background-color: #007bff;
            color: white;
        }

        .chat-item:hover {
            background-color: #0056b3;
        }

        .chat-item.active:hover {
            background-color: #0056b3;
            color: white;
        }
    </style>

    <script>
        const chats = {};
    </script>
    <link rel="stylesheet" href="{% static 'css/gpt_chat.css' %}">
    <script src="{% static 'js/marked.min.js' %}"></script>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title mb-0">Чат с нейросетью</h2>
                <button id="new-chat-btn" class="btn btn-light">Новый чат</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 chat-list-container">
                        <div id="chat-list" class="chat-list">
                            {% for chat in chats %}
                                <script>
                                    chats[{{chat.id}}] = {messages: [], title: `{{ chat.name }}`};
                                    {% for message in chat.messages %}
                                        chats[{{chat.id}}].messages.push({
                                            text: `{{ message.content }}`,
                                            sender: `{{ message.sender }}`
                                        });
                                    {% endfor %}
                                </script>
                                <div class="chat-item chat-item-{{ chat.id }}" onclick="switchChat({{ chat.id }})">
                                    <span class="chat-title">{{ chat.name }}</span>
                                    <button class="btn-edit btn-edit-chat" onclick="editChatTitle({{ chat.id }})">✏️
                                    </button>
                                    <button class="btn-edit btn-delete-chat" data-bs-target="#delete_chat_{{ chat.id }}"
                                            data-bs-toggle="modal">🗑️
                                    </button>
                                    {% block modal_dialog_additional %}
                                        <div class="modal fade" id="delete_chat_{{ chat.id }}" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Вы уверены, что хотите удалить этот
                                                            чат?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Отмена
                                                        </button>
                                                        <button type="button" onclick="deleteChat({{ chat.id }})"
                                                                class="btn btn-danger" data-bs-dismiss="modal">
                                                            Удалить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endblock modal_dialog_additional %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-9">
                        <div id="chat-container" class="chat-container">
                            <div id="messages" class="messages">
                            </div>
                            <div id="input-container" class="input-container" style="display: none;">
                                <input type="text" id="input" class="form-control"
                                       placeholder="Напишите ваше сообщение..."/>
                                <button id="send-btn" class="btn btn-primary">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let currentChatId = null;

        document.getElementById('new-chat-btn').addEventListener('click', createNewChat);
        document.getElementById('send-btn').addEventListener('click', createMessage);
        document.getElementById('input').addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                createMessage();
            }
        });

        function createNewChat() {
            const data = {
                "name": `Чат ${Object.keys(chats).length + 1}`
            };
            let chatId;

            fetch("/create_gpt_chat/", {
                method: 'POST',
                headers: {"Content-Type": "application/json", "X-CSRFToken": `{{ csrf_token }}`},
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(result => {
                    console.log(result)
                    console.log(result.chat_id)
                    chatId = result.chat_id
                    chats[chatId] = {messages: [], title: `Чат ${Object.keys(chats).length + 1}`};
                    addChatToList(chatId);
                    switchChat(chatId);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function addChatToList(chatId) {
            const chatList = document.getElementById('chat-list');
            const chatItem = document.createElement('div');
            chatItem.className = `chat-item chat-item-${chatId}`;
            chatItem.innerHTML = `
                <span class="chat-title">${chats[chatId].title}</span>
                <button class="btn-edit btn-edit-chat" onclick="editChatTitle(${chatId})">✏️</button>
                <button class="btn-edit btn-delete-chat" data-bs-target="#delete_chat_${chatId}" data-bs-toggle="modal">🗑️</button>
                {% block modal_dialog %}
                    <div class="modal fade" id="delete_chat_${chatId}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Вы уверены, что хотите удалить этот чат?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Отмена
                                    </button>
                                    <button type="button" onclick="deleteChat(${chatId})" class="btn btn-danger" data-bs-dismiss="modal">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock modal_dialog %}
            `;
            chatItem.onclick = () => switchChat(chatId);
            chatList.appendChild(chatItem);
        }

        function deleteChat(chatId) {
            const data = {
                "chat_id": chatId
            };

            fetch("/delete_gpt_chat/", {
                method: 'POST',
                headers: {"Content-Type": "application/json", "X-CSRFToken": `{{ csrf_token }}`},
                body: JSON.stringify(data)
            })
                .catch(error => {
                    console.error('Error:', error);
                });

            delete chats[chatId];
            const chatList = document.getElementById('chat-list');
            chatList.innerHTML = '';
            for (const id in chats) {
                addChatToList(id);
            }
        }

        function editChatTitle(chatId) {
            const chatItem = document.querySelector(`.chat-item-${chatId}`);
            const chatTitleElement = chatItem.querySelector('.chat-title');
            const currentTitle = chatTitleElement.innerText;

            // Создаем поле ввода для редактирования
            const input = document.createElement('input');
            input.type = 'text';
            input.value = currentTitle;
            input.className = 'form-control';

            // Создаем кнопку для сохранения изменений
            const saveButton = document.createElement('button');
            saveButton.innerText = 'Сохранить';
            saveButton.className = 'btn btn-success';
            saveButton.onclick = () => {
                const newTitle = input.value.trim();
                if (newTitle) {
                    chats[chatId].title = newTitle;
                    chatTitleElement.innerText = newTitle;

                    chatItem.replaceChild(chatTitleElement, input);

                    const editButton = document.createElement('button');
                    editButton.className = 'btn-edit btn-edit-chat';
                    editButton.innerText = '✏️';
                    editButton.onclick = () => editChatTitle(chatId);
                    chatItem.replaceChild(editButton, saveButton);

                    const data = {
                        "chat_id": chatId,
                        "name": newTitle
                    };

                    fetch("/edit_gpt_chat/", {
                        method: 'POST',
                        headers: {"Content-Type": "application/json", "X-CSRFToken": `{{ csrf_token }}`},
                        body: JSON.stringify(data)
                    })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            };

            // Заменяем название на поле ввода и добавляем кнопку
            chatItem.replaceChild(input, chatTitleElement);
            chatItem.replaceChild(saveButton, chatItem.querySelector('.btn-edit-chat'));
        }

        function switchChat(chatId) {
            currentChatId = chatId;
            document.getElementById('chat-container').style.display = 'block';
            document.getElementById('messages').innerHTML = ''; // Очищаем сообщения

            // Удаляем класс active у всех чатов
            const chatItems = document.querySelectorAll('.chat-item');
            chatItems.forEach(item => {
                item.classList.remove('active');
            });
            // Добавляем класс active к текущему чату
            const currentChatItem = document.querySelector(`.chat-item-${chatId}`);
            if (currentChatItem) {
                currentChatItem.classList.add('active');
            }

            chats[chatId].messages.forEach(msg => addMessage(msg.text, msg.sender, chatId)); // Загружаем сообщения
            document.getElementById('input-container').style.display = 'flex';
        }

        function createMessage(messageText) {
            if (typeof messageText !== "string") {
                const inputField = document.getElementById('input');
                messageText = inputField.value;
            }
            if (messageText.trim() === '' || currentChatId === null) return;

            sendMessage(messageText, currentChatId);
        }

        function sendMessage(messageText, chatId) {
            addMessage(messageText, 'user', chatId);
            chats[currentChatId].messages.push({text: messageText, sender: 'user'});
            const inputField = document.getElementById('input');
            inputField.value = '';

            const loadingMessage = {text: `Генерация ответа`, sender: 'ai'};
            addMessage(loadingMessage.text, loadingMessage.sender, chatId);
            chats[chatId].messages.push(loadingMessage);

            let dotCount = 0;
            const loadingElement = document.querySelector('.message.ai:last-child');

            const url = "http://localhost:1234/v1/chat/completions";  // /ask_gpt/
            const headers = {"Content-Type": "application/json", "X-CSRFToken": `{{ csrf_token }}`};
            const data = {
                "model": "llama-3.1-8b-lexi-uncensored-v2",
                "messages": [
                    {
                        "role": "system",
                        "content": "Ты ассистент на сайте археологического агрегатора научно-технической информации. Отвечай на русском языке."
                    },
                    {"role": "user", "content": messageText, 'chat_id': chatId}
                ],
                "temperature ": 0.7,
                "max_tokens": -1,
                "stream": false
            };

            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(result => {
                    const lastMessage = document.querySelector('.message.ai:last-child');
                    if (lastMessage && (lastMessage.innerText.indexOf(loadingMessage.text) >= 0) && (lastMessage.innerText.indexOf("Ассистент") >= 0)) {
                        lastMessage.remove();
                    }
                    chats[chatId].messages.pop();

                    const aiMessage = result.choices[0].message.content;
                    if (chatId === currentChatId) {
                        const lastMessage = document.querySelector('.message.ai:last-child');
                        if (lastMessage && lastMessage.innerText === loadingMessage.text) {
                            lastMessage.querySelector('.message-content').innerHTML = marked.marked(aiMessage);
                        } else {
                            addMessage(aiMessage, 'ai', chatId);
                        }
                    }
                    chats[chatId].messages.push({
                        text: aiMessage,
                        sender: 'ai',
                        message_id: result.choices[0].message.message_id
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function addMessage(text, sender, chat_id) {
            const formattedText = marked.marked(text); // Преобразуем Markdown в HTML
            const messagesContainer = document.getElementById('messages');
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('message', sender);

            // Аватар и имя отправителя
            const avatar = sender === 'user' ? "{{ user.avatar.url }}" : "\\uploaded_files\\avatars/neuro-net_ava.jpg";
            const senderName = sender === 'user' ? "{{ user.username }}" : "Ассистент";

            if (formattedText.indexOf("Генерация ответа") >= 0 && sender === 'ai') {
                messageDiv.innerHTML = `
                <div class="message-header">
                    <img src="${avatar}" alt="${senderName}" class="avatar" />
                    <span class="sender-name">${senderName}</span>
                </div>
                <div class="message-content chat-id-${chat_id}" style="display: inline-flex"><i style="margin-right: 5px;">${formattedText}</i><div class="loader"></div></div>
            `;
            } else {
                messageDiv.innerHTML = `
                <div class="message-header">
                    <img src="${avatar}" alt="${senderName}" class="avatar" />
                    <span class="sender-name">${senderName}</span>
                    <div class="message-actions">
                        <button class="btn-copy" onclick="copyMessage(this)">📋</button>
                    </div>
                </div>
                <div class="message-content chat-id-${chat_id}">${formattedText}</div>
            `;
            }

            if (sender === 'user') {
                const userMessages = messagesContainer.querySelectorAll('.message.user');
                userMessages.forEach((msg) => {
                    const editButton = msg.querySelector('.btn-edit');
                    if (editButton) {
                        editButton.remove(); // Удаляем кнопку редактирования
                    }
                });

                // Добавляем кнопку редактирования только к последнему пользовательскому сообщению
                const editButton = document.createElement('button');
                editButton.className = 'btn-edit';
                editButton.innerText = '✏️';
                editButton.onclick = function () {
                    editMessage(editButton);
                };
                messageDiv.querySelector('.message-actions').appendChild(editButton);
            }

            messagesContainer.appendChild(messageDiv);
            messagesContainer.scrollTop = messagesContainer.scrollHeight; // Прокрутка вниз
        }

        function editMessage(button) {
            const messageContent = button.closest('.message').querySelector('.message-content');
            const className = Array.from(messageContent.classList).find(c => c.startsWith('chat-id-'));
            let chatId;
            if (className) {
                chatId = className.split('-')[2];
                const data = {
                    "chat_id": chatId
                };

                while (chats[chatId].messages[chats[chatId].messages.length - 1].sender !== 'user') {
                    chats[chatId].messages.pop()
                }
                chats[chatId].messages.pop()

                fetch("/delete_chat_message/", {
                    method: 'POST',
                    headers: {"Content-Type": "application/json", "X-CSRFToken": `{{ csrf_token }}`},
                    body: JSON.stringify(data)
                })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
            const currentText = messageContent.innerText;
            const messageDiv = button.closest('.message');

            const inputField = document.createElement('input');
            inputField.type = 'text';
            inputField.value = currentText;
            inputField.className = 'form-control';

            const saveButton = document.createElement('button');
            saveButton.innerText = 'Сохранить';
            saveButton.className = 'btn btn-success';
            saveButton.onclick = function () {
                const newText = inputField.value;
                messageContent.innerHTML = marked.marked(newText); // Обновляем текст с поддержкой Markdown

                // Удаляем последнее сообщение нейросети
                const messagesContainer = document.getElementById('messages');
                const lastAiMessage = messagesContainer.querySelector('.message.ai:last-child');
                if (lastAiMessage) {
                    messagesContainer.removeChild(lastAiMessage);
                }
                const lastUserMessage = messagesContainer.querySelector('.message.user:last-child');
                if (lastUserMessage) {
                    messagesContainer.removeChild(lastUserMessage);
                }

                // Отправляем новый запрос к нейросети
                createMessage(newText);

                // Удаляем поле ввода и кнопку
                if (messageDiv.contains(inputField)) {
                    messageDiv.removeChild(inputField);
                }
                if (messageDiv.contains(saveButton)) {
                    messageDiv.removeChild(saveButton);
                }
            };

            messageContent.innerHTML = '';
            messageContent.appendChild(inputField);
            messageContent.appendChild(saveButton);
            inputField.focus();
        }

        function copyMessage(button) {
            const messageContent = button.closest('.message').querySelector('.message-content');
            const textToCopy = messageContent.innerText;
            navigator.clipboard.writeText(textToCopy).then(() => {
                const notification = document.createElement('div');
                notification.innerText = "Сообщение скопировано в буфер обмена!";
                notification.className = "copy-notification";
                document.body.appendChild(notification);
                setTimeout(() => {
                    document.body.removeChild(notification);
                }, 2000);
            }).catch(() => {
                const notification = document.createElement('div');
                notification.innerText = "Не удалось скопировать сообщение.";
                notification.className = "copy-notification";
                document.body.appendChild(notification);
                setTimeout(() => {
                    document.body.removeChild(notification);
                }, 2000);
            });
        }
    </script>

{% endblock %}