{% extends 'bases/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <header class="hero">
        <div class="container">
            <h1 class="display-4">Агрегатор научно-технической информации по археологии</h1>
            <p class="lead">Здесь вы найдете полезную информацию и ресурсы.</p>
            <a href="#about" class="btn btn-light btn-lg">Узнать больше</a>
        </div>
    </header>

    <!-- Карусель
    <div id="imageCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://via.placeholder.com/800x400?text=Изображение+1" class="d-block w-100"
                     alt="Изображение 1">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Изображение+2" class="d-block w-100"
                     alt="Изображение 2">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Изображение+3" class="d-block w-100"
                     alt="Изображение 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущее</span>
        </a>
        <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующее</span>
        </a>
    </div>
    -->

    <section id="about" class="py-5">
        <div class="container">
            <h2 class="text-center">О нас</h2>
            <p class="text-center">Это место, где мы делимся информацией о самых интересных и актуальных темах.</p>
        </div>
    </section>
{% endblock %}

<script>
    {% block guide_steps %}
        const tourSteps = [
            {
                title: 'Добро пожаловать!',
                text: 'Добро пожаловать в систему Агрегатор!<br><br>Сейчас мы кратко покажем основные элементы интерфейса и их функции.',
                element: null
            },
            {
                title: 'Логотип',
                text: 'Попасть на главную страницу сайта (текущую) всегда можно при нажатии на логотип или с помощью навигационной панели ниже',
                element: '.navbar-brand'
            },
            {
                title: 'Отчёты',
                text: 'На вкладке "Отчёты" можно посмотреть загруженные в систему отчёты (акты ГИКЭ, ПНО, ПНТО) или воспользоваться менеджером загрузок, для добавления в систему своих отчётов или отчётов с сайта ООКН',
                element: '#reports-menu'
            },
            {
                title: 'Открытые листы',
                text: 'На вкладке "Открытые листы" можно загружать и просматривать открытые листы. Для работы со сканами используется оптическое распознавание текста.',
                element: '#open-lists-menu'
            },
            {
                title: 'Памятники',
                text: 'На вкладке "Памятники" представлен перечень ВОАН и ОАН с сайта ООКН',
                element: '#heritage-menu'
            },
            {
                title: 'Учётные карты',
                text: 'На вкладке "Учётные карты" можно загружать и просматривать учётные карты объектов.',
                element: '#account-cards-menu'
            },
            {
                title: 'Коммерческие предложения',
                text: 'На вкладке "Коммерческие предложения" можно загружать и просматривать коммерческие предложения.',
                element: '#commercial-offers-menu'
            },
            {
                title: 'Географические объекты',
                text: 'На вкладке "Географические объекты" можно загружать и просматривать на интерактивной карте содержимое файлов форматов KML и KMZ.',
                element: '#geo-objects-menu'
            },
            {
                title: 'Интерактивная карта',
                text: 'На вкладке "Интерактивная карта" можно просматривать на интерактивной карте картографические данные отчётов.',
                element: '#interactive-map-menu'
            },
            {
                title: 'Нейросеть',
                text: 'На вкладке "Нейросеть" можно воспользоваться интеллектуальным помощником для поиска информации в системе.',
                element: '#gpt-chat-menu'
            },
            {
                title: 'Справка',
                text: 'Данной кнопкой вы можете вызвать такую же интерактивную справку на любой другой странице, где будет объяснён более специфичный функционал сайта. Общую справку можно получить на главной странице сайта.',
                element: '#guide-menu'
            }
        ];

        // Добавляем шаги для авторизации
        {% if user.is_authenticated %}
            tourSteps.push(
                {
                    title: 'Профиль',
                    text: 'Данной кнопкой вы можете перейти в личный кабинет для просмотра информации об аккаунте или для его настройки.',
                    element: '#profile'
                },
                {
                    title: 'Выход',
                    text: 'Данной кнопкой вы можете выйти из аккаунта.',
                    element: '#logout'
                }
            );
        {% else %}
            tourSteps.push(
                {
                    title: 'Авторизация',
                    text: 'Для получения доступа к расширенному функционалу сайта пройдите авторизацию или зарегистрируйтесь в системе.',
                    element: '#login'
                }
            );
        {% endif %}
    {% endblock %}
</script>
