{% extends 'bases/base.html' %}
{% load static %}

{% block title %}Интерактивная карта{% endblock %}

{% block breadcrumb %}
    {% if all_coordinates %}
        <li class="breadcrumb-item active" aria-current="page">Интерактивная карта</li>
    {% else %}
        {% if report_type == 'account_card' %}
            <li class="breadcrumb-item"><a href="/account_cards_register/">Реестр учётных карт</a></li>
            <li class="breadcrumb-item"><a href="/account_cards/{{ pk }}">Учётная карта
                объекта: {{ report_name }}</a></li>
        {% elif report_type == 'commercial_offer' %}
            <li class="breadcrumb-item"><a href="/commercial_offers_register/">Реестр коммерческих предложений</a></li>
            <li class="breadcrumb-item"><a href="/commercial_offers_edit/{{ pk }}">Редактирование {{ report_name }}</a>
            </li>
        {% elif report_type == 'geo_object' %}
            <li class="breadcrumb-item"><a href="/geo_objects_register/">Реестр географических объектов</a></li>
            <li class="breadcrumb-item"><a href="/geo_objects_edit/{{ pk }}">Редактирование {{ report_name }}</a>
            </li>
        {% elif report_type == 'act' %}
            <li class="breadcrumb-item"><a href="/acts_register/">Реестр актов</a></li>
            <li class="breadcrumb-item"><a href="/acts/{{ pk }}">Акт: {{ report_name }}</a></li>
        {% elif report_type == 'scientific_report' %}
            <li class="breadcrumb-item"><a href="/scientific_reports_register/">Реестр научных отчётов</a></li>
            <li class="breadcrumb-item"><a href="/scientific_reports/{{ pk }}">Научный
                отчёт: {{ report_name }}</a></li>
        {% elif report_type == 'tech_report' %}
            <li class="breadcrumb-item"><a href="/tech_reports_register/">Реестр научно-технических отчётов</a></li>
            <li class="breadcrumb-item"><a href="/tech_reports/{{ pk }}">Научно-технический отчёт: {{ report_name }}</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">Интерактивная карта</li>
    {% endif %}
{% endblock %}

{% block map %}
    <!-- Подключение Leaflet -->
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Leaflet.GraphicScale.css' %}"/>
    <script src="{% static 'js/Leaflet.GraphicScale.min.js' %}"></script>
    <script src="{% static 'js/Leaflet.GraphicScale.js' %}"></script>
    <script src="{% static 'js/proj4.js' %}"></script>
    <script src="{% static 'js/html2canvas.min.js' %}"></script>
    <script src="{% static 'js/dom-to-image.min.js' %}"></script>
    <script src="{% static 'js/FileSaver.min.js' %}"></script>
    <script src="{% static 'js/turf.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/interactive_map.css' %}"/>

    {% if coordinates %}
        <h2 align="center">{{ report_name }}</h2>
    {% else %}
        <h2 align="center">Интерактивная Карта</h2>
    {% endif %}

    <div style="align-items: center; max-width: 1800px; margin: 0 auto;">
        <div class="controls"
             style="display: flex; justify-content: space-between; align-items: center;">
            <button class="link-button" type="button" data-bs-target="#download"
                    data-bs-toggle="modal">
                Скачать координаты в формате .kml
            </button>
            <label for="baseLayerSelect" style="margin-left: 10px;">Подложка:</label>
            <select id="baseLayerSelect" class="form-select" style="margin-left: 3px; width: 270px;">
                <optgroup label="OpenStreetMap">
                    <option value="OpenStreetMap">OpenStreetMap Карта</option>
                </optgroup>
                <optgroup label="Google">
                    <option value="Google">Google Карта</option>
                    <option value="Google satellite">Google Спутник</option>
                    <option value="Google hybrid">Google Гибрид</option>
                    <option value="Google Roads">Google Дороги</option>
                    <option value="Google Streets">Google Улицы</option>
                    <option value="Google Streets Alternative">Google Улицы (альтернативный)</option>
                    <option value="Google Terrain">Google Рельеф</option>
                    <option value="Google Terrain Alternative">Google Рельеф (альтернативный)</option>
                </optgroup>
                <optgroup label="Yandex">
                    <option value="Yandex">Yandex Карта</option>
                    <option value="Yandex satellite">Yandex Спутник</option>
                    <option value="Yandex hybrid">Yandex Гибрид</option>
                </optgroup>
                <optgroup label="2GIS">
                    <option value="2GIS">2GIS Карта</option>
                </optgroup>
                <optgroup label="Bing">
                    <option value="Bing Maps">Bing Карта</option>
                    <option value="Bing Satellite">Bing Спутник</option>
                    <option value="Bing Roads (en)">Bing Дороги (en)</option>
                    <option value="Bing Roads (ru)">Bing Дороги (ru)</option>
                    <option value="Bing Hybrid">Bing Гибрид</option>
                </optgroup>
                <optgroup label="ArcGIS">
                    <option value="ArcGIS Imagery">ArcGIS Спутник</option>
                    <option value="ArcGIS Hybrid">ArcGIS Гибрид</option>
                    <option value="ArcGIS Streets">ArcGIS Улицы</option>
                </optgroup>
            </select>
            <label for="additionalLayerSelect" style="margin-left: 10px;">Слой:</label>
            <select id="additionalLayerSelect" class="form-select" style="margin-left: 3px; width: 270px;">
                <option value="No additional layer">Нет слоя</option>
                <optgroup label="Кадастровые карты">
                    <option value="Cadastre quarter">Кадастровые кварталы</option>
                    <option value="Cadastre district">Кадастровые районы</option>
                    <option value="Cadastre county">Кадастровые округа</option>
                </optgroup>
            </select>
            <div style="display: flex; align-items: center; margin-left: auto;">
                <label style="display: flex; align-items: center; margin-left: 10px;">
                    <input type="checkbox" id="toggleScale" style="margin-right: 3px;" checked> Переключение
                    мастшаба
                </label>
                <label style="display: flex; align-items: center; margin-left: 10px;">
                    <input type="checkbox" id="toggleNorthArrow" style="margin-right: 3px;" checked> Стрелка на север
                </label>
                <label style="display: flex; align-items: center; margin-left: 10px;">
                    <input type="checkbox" id="toggleGraphicScale" style="margin-right: 3px;" checked> Линейка масштаба
                </label>
                <label style="display: flex; align-items: center; margin-left: 10px;">
                    <input type="checkbox" id="toggleCoordinates" style="margin-right: 3px;" checked> Координаты
                </label>
                <label style="display: flex; align-items: center; margin-left: 10px;">
                    <input type="checkbox" id="toggleLegend" style="margin-right: 3px;" checked> Легенда
                </label>
            </div>
        </div>
    </div>

    <!-- Секция карты -->
    <div>
        <div id="map"></div>
    </div>

    {% if coordinates %}
        <div style="align-items: center; max-width: 1800px; margin: 0 auto;">
            <div class="controls" style="display: flex;">
                <button id="screenshotButton" class="link-button" type="button" style="margin-left:10px;">Сделать
                    скриншот карты
                </button>
                <select id="screenshotModeSelect" class="form-select" style="margin-left: 10px; width: 350px;">
                    <option value="automaticScreenshot">Автоматическое создание скриншотов</option>
                    <option value="manualScreenshot">Ручное создание скриншотов</option>
                </select>
                <div id="manualScreenshotControls" style="display: none; align-items: center; margin-left: auto;">
                    <label for="mapWidth" style="margin-left: 10px;">Ширина карты:</label>
                    <input type="number" id="mapWidth" style="margin-left: 5px;" placeholder="Ширина карты" value="1800"
                           oninput="updateMapSize()">
                    <label for="mapHeight" style="margin-left: 10px;">Высота карты:</label>
                    <input type="number" id="mapHeight" style="margin-left: 5px;" placeholder="Высота карты" value="690"
                           oninput="updateMapSize()">
                    <select id="screenshotStageSelect" class="form-select" style="margin-left: 10px; width: 200px;">
                        <option value="excavation">Масштаб раскопок</option>
                        <option value="region">Масштаб района</option>
                        <option value="subject">Масштаб субъекта</option>
                        <option value="russia">Масштаб страны</option>
                    </select>
                </div>
            </div>
            <div id="stagesControls">
                <div id="countryControls" style="display: none; margin-top: 10px;">
                    <label for="countryBorderColor" style="margin-left: 10px;">Цвет границ страны:</label>
                    <input type="color" id="countryBorderColor" style="margin-left: 5px;" value="#ff0000"
                           onchange="updateCountryBorderColor(this.value)">
                    <label for="countryBorderOpacity" style="margin-left: 10px;">Прозрачность заливки страны:</label>
                    <input type="number" id="countryBorderOpacity" style="margin-left: 5px;" min="0" max="1" step="0.1"
                           value="1" onchange="updateCountryBorderOpacity(this.value)">
                </div>
                <div id="subjectControls" style="display: none; margin-top: 10px;">
                    <label for="subjectBorderColor" style="margin-left: 10px;">Цвет границ субъекта:</label>
                    <input type="color" id="subjectBorderColor" style="margin-left: 5px;" value="#0000ff"
                           onchange="updateSubjectBorderColor(this.value)">
                    <label for="subjectBorderOpacity" style="margin-left: 10px;">Прозрачность заливки субъекта:</label>
                    <input type="number" id="subjectBorderOpacity" style="margin-left: 5px;" min="0" max="1" step="0.1"
                           value="1" onchange="updateSubjectBorderOpacity(this.value)">
                    <label for="subjectLabelColor" id="subjectLabelColorLabel" style="margin-left: 10px;">Цвет подписи
                        субъекта:</label>
                    <input type="color" id="subjectLabelColor" style="margin-left: 5px;" value="#000000"
                           onchange="updateSubjectLabelColor(this.value)">
                    <label for="subjectLabelSize" style="margin-left: 10px;">Размер подписи субъекта:</label>
                    <input type="number" id="subjectLabelSize" style="margin-left: 5px;" min="10" max="50" value="14"
                           onchange="updateSubjectLabelSize(this.value)">
                </div>
                <div id="regionControls" style="display: none; margin-top: 10px;">
                    <label for="regionBorderColor" style="margin-left: 10px;">Цвет границ района:</label>
                    <input type="color" id="regionBorderColor" style="margin-left: 5px;" value="#00ff00"
                           onchange="updateRegionBorderColor(this.value)">
                    <label for="regionBorderOpacity" style="margin-left: 10px;">Прозрачность заливки района:</label>
                    <input type="number" id="regionBorderOpacity" style="margin-left: 5px;" min="0" max="1" step="0.1"
                           value="1" onchange="updateRegionBorderOpacity(this.value)">
                    <label for="regionLabelColor" id="regionLabelColorLabel" style="margin-left: 10px;">Цвет подписи
                        района:</label>
                    <input type="color" id="regionLabelColor" style="margin-left: 5px;" value="#000000"
                           onchange="updateRegionLabelColor(this.value)">
                    <label for="regionLabelSize" style="margin-left: 10px;">Размер подписи района:</label>
                    <input type="number" id="regionLabelSize" style="margin-left: 5px;" min="10" max="50" value="14"
                           onchange="updateRegionLabelSize(this.value)">
                </div>
            </div>
        </div>

        <script src="{% static 'js/map/screenshot_manager.js' %}"></script>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // var coordinatesJson = JSON.stringify({{ coordinates|safe }});
            {% if not all_coordinates %}
                window.data = {{ matching_polygons|safe }};
            {% endif %}
        });
    </script>
    <script src="{% static 'js/map/init.js' %}"></script>
    <script src="{% static 'js/map/layers.js' %}"></script>
    <script src="{% static 'js/map/panel_control.js' %}"></script>
    <script src="{% static 'js/map/icons.js' %}"></script>
    <script src="{% static 'js/map/legend.js' %}"></script>
    {% if coordinates %}
        <script src="{% static 'js/map/legend_compact.js' %}"></script>
    {% endif %}
    {% if all_coordinates %}
        <script src="{% static 'js/map/legend_wide.js' %}"></script>
    {% endif %}
    <script>
        var legend = L.control({position: 'topright'});
        legend.onAdd = function (map) {
            var div = L.DomUtil.create('div',
                'info legend {% if all_coordinates %}wide-legend{% else %}compact-legend{% endif %}');
            var content = '<h4>Легенда</h4>';

            {% if coordinates %}
                {% for group, point in coordinates.items %}
                    {% if point.coordinate_system or report_type == 'account_card' %}
                        {% if 'Шурфы' in group %}
                            content += createToggleItem('shurfs', 'Шурфы', 'red', `{{ report_name }}`, `{{ report_type }}`, `{{ group }}`);
                        {% endif %}
                        {% if 'Каталог' in group or report_type == 'commercial_offer' %}
                            content += createToggleItem('catalog', `{{ group }}` /* 'Каталог координат участка' */, 'blue', `{{ report_name }}`, `{{ report_type }}`, `{{ group }}`);
                        {% endif %}
                        {% if 'фото' in group %}
                            content += createToggleItem('photos', 'Пункты фотофиксации', 'green', `{{ report_name }}`, `{{ report_type }}`, `{{ group }}`);
                        {% endif %}
                        {% if 'Центр' in group or report_type == 'geo_object' %}
                            content += createToggleItem('center', 'Центр объекта', 'yellow', `{{ report_name }}`, `{{ report_type }}`, `{{ group }}`);
                        {% endif %}

                        {% for point_name, coords in point.items %}
                            {% if point_name != 'coordinate_system' %}
                                content += createCheckboxItem(`togglePoints-{{ report_name }}-{{ group }}-{{ point_name }}`, '{{ point_name }}');
                            {% endif %}
                        {% endfor %}


                        {% if 'Каталог' in group or report_type == 'commercial_offer' %}
                            content += createCheckboxItem('toggleCatalogPolyline-{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}', 'Полигон');
                        {% endif %}

                        content += '</div>'; // Закрытие контента группы
                    {% endif %}
                {% endfor %}

                content += '<label style="display: flex; align-items: center;"><input type="checkbox" id="toggleTooltips" style="margin-right: 3px;" checked> Названия точек</label>';

            {% elif all_coordinates %}
                {% for report_type, reports in all_coordinates.items %}
                    content += createReportSection('report-{{ report_type }}', '{{ report_type }}', '{{ report_type|cut:" "|cut:"."|cut:":" }}');

                    {% for report_id, report in reports.items %}
                        content += createReportSection('report-{{ report_id }}', '{{ report.report_name }}', '{{ report_type|cut:" "|cut:"."|cut:":" }}', true, true, '{{ report_id }}');

                        {% for group, point in report.coordinates.items %}
                            {% if point.coordinate_system or report_type == 'account_card' %}
                                {% if 'Шурфы' in group %}
                                    content += createToggleItem('shurfs', 'Шурфы', 'red', `{{ report_id }}`, `{{ report_type }}`, `{{ group }}`, true, 40);
                                {% endif %}
                                {% if 'Каталог' in group or report_type == 'commercial_offer' %}
                                    content += createToggleItem('catalog', `{{ group }}` /* 'Каталог координат участка' */, 'blue', `{{ report_id }}`, `{{ report_type }}`, `{{ group }}`, true, 40);
                                {% endif %}
                                {% if 'фото' in group %}
                                    content += createToggleItem('photos', 'Пункты фотофиксации', 'green', `{{ report_id }}`, `{{ report_type }}`, `{{ group }}`, true, 40);
                                {% endif %}

                                {% for point_name, coords in point.items %}
                                    {% if point_name != 'coordinate_system' %}
                                        content += createCheckboxItem(`togglePoints-{{ report_id }}-{{ group }}-{{ point_name }}`, '{{ point_name }}', true, 40);
                                    {% endif %}
                                {% endfor %}

                                {% if 'Каталог' in group or report_type == 'commercial_offer' %}
                                    content += createCheckboxItem('toggleCatalogPolyline-{{ report_id }}-{{ group }}', 'Полигон', true, 40, '');
                                {% endif %}

                                content += '</div>'; // Закрытие контента группы
                            {% endif %}
                        {% endfor %}
                        content += '</div>'; // Закрытие контента report_id
                    {% endfor %}
                    content += '</div>'; // Закрытие контента report_type
                {% endfor %}

                content += '<label style="display: flex; align-items: center;"><input type="checkbox" id="toggleTooltips" style="margin-right: 3px;" checked> Названия точек</label>';
            {% endif %}

            div.innerHTML = content;
            return div;
        };

        legend.addTo(map);

        let marker;


        function setupGroupToggles(reportName, groupNames, reportType) {
            // Перебираем все группы координат
            groupNames.forEach(group => {
                // Для каждой группы создаём обработчик события change
                const groupElementId = getGroupCheckboxId(reportName, group, reportType);
                const groupCheckbox = document.getElementById(groupElementId);

                if (groupCheckbox) {
                    groupCheckbox.addEventListener('change', function () {
                        // Получаем все маркеры, принадлежащие этой группе
                        const groupMarkers = markers.filter(marker =>
                            marker.group.includes(group) ||
                            (group === 'Каталог' && marker.group.toLowerCase().includes('каталог'))
                        );

                        // Показываем/скрываем маркеры
                        groupMarkers.forEach(marker => {
                            if (this.checked) {
                                marker.marker.addTo(map);
                            } else {
                                map.removeLayer(marker.marker);
                            }
                        });

                        // Обновляем состояние дочерних checkbox'ов
                        const contentDiv = this.parentElement.nextElementSibling;
                        if (contentDiv) {
                            const childCheckboxes = contentDiv.querySelectorAll('.single_point');
                            childCheckboxes.forEach(checkbox => {
                                checkbox.checked = this.checked;
                                checkbox.dispatchEvent(new Event('change'));
                            });
                        }

                        // Особый случай для полигона каталога
                        if ((group.includes('Каталог') || reportType === 'commercial_offer') && (typeof window.catalogPolyline[group] !== 'undefined' || typeof window.all_catalogPolyline[reportName] !== 'undefined')) {
                            if (typeof window.catalogPolyline[group] !== 'undefined') {
                                if (this.checked) {
                                    window.catalogPolyline[group].addTo(map);
                                } else {
                                    map.removeLayer(window.catalogPolyline[group]);
                                }
                            } else if (typeof window.all_catalogPolyline[reportName] !== 'undefined') {
                                if (this.checked) {
                                    console.log(group)
                                    console.log(window.all_catalogPolyline[reportName])
                                    console.log(window.all_catalogPolyline[reportName][group])
                                    window.all_catalogPolyline[reportName][group].addTo(map);
                                } else {
                                    map.removeLayer(window.all_catalogPolyline[reportName][group]);
                                }
                            }

                            const polylineCheckbox = document.getElementById(`toggleCatalogPolyline${reportName ? '-' + reportName + '-' + group : ''}`);
                            if (polylineCheckbox) {
                                polylineCheckbox.checked = this.checked;
                            }
                        }
                    });
                }
            });
        }

        function getGroupCheckboxId(reportName, groupName, reportType) {
            if (groupName.includes('Каталог')) {
                return `toggleCatalog-${reportName}-${groupName}`;
            }
            if (groupName.includes('Шурфы')) {
                return `toggleShurfs-${reportName}-${groupName}`;
            }
            if (groupName.includes('фото')) {
                return `togglePhotoPoints-${reportName}-${groupName}`;
            }
            if (groupName.includes('Центр') || reportType === 'geo_object') {
                return `toggleCenterPoints-${reportName}-${groupName}`;
            }
            return `toggleGroup-${reportName}-${groupName.replace(/\s+/g, '-')}`;
        }

        {% if coordinates %}
            // Основной цикл обработки координат
            {% for group, point in coordinates.items %}
                {% if point.coordinate_system or report_type == 'account_card' %}
                    {% for point_name, coords in point.items %}
                        {% if point_name != 'coordinate_system' %}
                            marker = createMapMarker(
                                {{ coords|safe }},
                                '{{ report_type }}',
                                '{{ report_name }}',
                                '{{ group }}',
                                '{{ point_name }}',
                            );

                            markers.push({
                                marker: marker,
                                group: '{{ group }}',
                                point_name: '{{ point_name }}'
                            });

                            bounds.extend(marker.getLatLng());

                            {% if 'Каталог' in group or report_type == 'commercial_offer' %}
                                catalogCoords.push({{ coords|safe }});
                            {% endif %}

                            setupPointToggle(markers, '{{ report_name }}', '{{ group }}', '{{ point_name }}');
                        {% endif %}
                    {% endfor %}
                {% endif %}

                if (catalogCoords.length > 0) {
                    catalogCoords.push(catalogCoords[0]);
                    window.catalogPolyline[`{{ group }}`] = L.polyline(catalogCoords, {color: 'blue'}).addTo(map);
                    catalogCoords = [];
                }

                // Применение функций к конкретным группам
                {% if 'Шурфы' in group %}
                    setupMarkerGroupToggle({
                        checkboxId: 'toggleShurfs-{{ report_name }}-{{ group }}',
                        groupPattern: 'Шурф'
                    });
                {% endif %}

                {% if 'Каталог' in group or report_type == 'commercial_offer' %}
                    setupMarkerGroupToggle({
                        checkboxId: 'toggleCatalog-{{ report_name }}-{{ group }}',
                        groupPattern: 'каталог координат участка',
                        polylineSelector: '#toggleCatalogPolyline-{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}'
                    });
                    setupPolylineToggle('toggleCatalogPolyline-{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}', `{{ group }}`);
                {% endif %}

                {% if 'фото' in group %}
                    setupMarkerGroupToggle({
                        checkboxId: 'togglePhotoPoints-{{ report_name }}-{{ group }}',
                        groupPattern: 'Пункты фотофиксации'
                    });
                {% endif %}

                {% if 'Центр' in group or report_type == 'geo_object' %}
                    setupMarkerGroupToggle({
                        checkboxId: 'toggleCenterPoints-{{ report_name }}-{{ group }}',
                        groupPattern: 'Центр объекта'
                    });
                {% endif %}

            {% endfor %}

            map.fitBounds(bounds);
        {% elif all_coordinates %}
            // Главный цикл обработки координат
            {% for report_type, reports in all_coordinates.items %}
                {% for report_id, report in reports.items %}
                    all_markers['{{ report_id }}'] = [];
                    all_catalogCoords['{{ report_id }}'] = [];
                    window.all_catalogPolyline['{{ report_id }}'] = {}

                    {% for group, point in report.coordinates.items %}
                        {% if point.coordinate_system or report_type == 'account_card' %}
                            {% for point_name, coords in point.items %}
                                {% if point_name != 'coordinate_system' %}
                                    marker = createMapMarker(
                                        {{ coords|safe }},
                                        '{{ report_type }}',
                                        '{{ report.report_name }}',
                                        '{{ group }}',
                                        '{{ point_name }}',
                                    );

                                    all_markers['{{ report_id }}'].push({
                                        marker: marker,
                                        group: '{{ group }}',
                                        point_name: '{{ point_name }}'
                                    });

                                    {% if 'Каталог' in group or report_type == 'commercial_offer' %}
                                        all_catalogCoords['{{ report_id }}'].push({{ coords|safe }});
                                    {% endif %}

                                    setupPointToggle(all_markers, '{{ report_id }}', '{{ group }}', '{{ point_name }}');
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        if (all_catalogCoords[`{{ report_id }}`].length > 0) {
                            all_catalogCoords['{{ report_id }}'].push(all_catalogCoords['{{ report_id }}'][0]);
                            window.all_catalogPolyline['{{ report_id }}']['{{ group }}'] = L.polyline(
                                all_catalogCoords['{{ report_id }}'],
                                {color: 'blue'}
                            ).addTo(map);
                            setupPolylineCheckbox('{{ report_id }}', '{{ group }}', window.all_catalogPolyline['{{ report_id }}']['{{ group }}']);
                        }
                        all_catalogCoords['{{ report_id }}'] = []
                    {% endfor %}

                    all_groups = Object.keys(JSON.parse('{{ report.coordinates|escapejs }}'.replace(/'/g, '"')));
                    // Настройка групповых переключателей
                    setupGroupToggles('{{ report_id }}', all_groups, `{{ report_type }}`);

                    document.getElementById('toggleMarkerGroup-{{ report_id }}').addEventListener('change', function () {
                        const reportName = '{{ report_id }}';
                        const isChecked = this.checked;

                        ['Shurfs', 'Catalog', 'PhotoPoints'].forEach(type => {
                            all_groups.forEach(group => {
                                const checkbox = document.getElementById(`toggle${type}-${group}`);
                                console.log(`toggle${type}-${group}`)
                                console.log(checkbox)
                                if (checkbox) {
                                    checkbox.checked = isChecked;
                                    checkbox.dispatchEvent(new Event('change'));
                                }
                            });
                        });
                    });
                {% endfor %}
            {% endfor %}
            map.fitBounds(bounds);
        {% endif %}
    </script>
    {% if coordinates %}
        <script src="{% static 'js/map/screenshot_maker.js' %}"></script>
    {% endif %}
{% endblock %}

{% block modal_dialog %}
    <div class="modal fade" id="download" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Скачивание координат в
                        формате .kml</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form style="max-height: 800px; overflow-y: auto;"
                        {% if coordinates %}
                      action="/map/{{ report_type }}/{{ pk }}/download/"
                        {% else %}
                      action="/interactive_map/download/"
                        {% endif %}
                      method="POST">
                    {% csrf_token %}
                    <div class="modal-body">Выберите точки для экспорта:</div>
                    {% if coordinates %}
                        {% for group, point in coordinates.items %}
                            <div style="margin-left: 20px;">
                                <span style="cursor: pointer;" onclick="toggleContent('{{ group }}')">
                                    <span id="{{ group }}_toggle" class="toggle-icon">+</span>
                                </span>
                                <input type="checkbox"
                                       id="{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_checkbox"
                                       checked
                                       onclick="toggleGroup('{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}')"
                                       name="{{ group }}">
                                <label for="{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_checkbox">{{ group }}</label>
                                <div id="{{ group }}_content" style="margin-left: 40px; display: none;">
                                    {% for point_name, coordinates in point.items %}
                                        {% if point_name != 'coordinate_system' %}
                                            <input type="checkbox"
                                                   class="{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_point"
                                                   checked
                                                   id="{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_{{ point_name }}_checkbox"
                                                   name="{{ group }}-{{ point_name }}">
                                            <label for="{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_{{ point_name }}_checkbox">{{ point_name }}
                                                ({{ coordinates.0 }},
                                                {{ coordinates.1 }})</label><br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}
                    {% if all_coordinates %}
                        {% for report_type, reports in all_coordinates.items %}
                            <div style="margin-left: 20px;">
                                <span style="cursor: pointer;"
                                      onclick="toggleContent('{{ report_type|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}')">
                                    <span id="{{ report_type }}_toggle"
                                          class="toggle-icon">+</span>
                                </span>
                                <label for="{{ report_type }}_checkbox"
                                       style="margin-right: 10px;"><input
                                        type="checkbox"
                                        id="report-{{ report_type }}_checkbox"
                                        checked
                                        onclick="toggleGroup('report-{{ report_type|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}')"
                                        name="{{ report_type }}">{{ report_type }}
                                </label>
                            </div>
                            <div style="margin-left: 20px;" id="{{ report_type }}_content">
                                {% for report_id, report in reports.items %}
                                    {% with counter=forloop.counter %}
                                        <div style="margin-left: 20px;">
                                            <span style="cursor: pointer;"
                                                  onclick="toggleContent('report-{{ counter }}')">
                                                <span id="report-{{ counter }}_toggle"
                                                      class="toggle-icon">+</span>
                                            </span>
                                            <label for="report-{{ counter }}_checkbox"
                                                   style="margin-right: 10px;">
                                                <input
                                                        type="checkbox"
                                                        id="report-{{ counter }}_checkbox"
                                                        checked
                                                        class="report-{{ report_type|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_point"
                                                        onclick="toggleGroup('report-{{ counter }}')"
                                                        name="{{ report_id }}">{{ report.report_name }}
                                            </label>
                                        </div>
                                        <div style="margin-left: 40px;" id="report-{{ counter }}_content">
                                            {% for group, coords in report.coordinates.items %}
                                                <div>
                                                    <span style="cursor: pointer;"
                                                          onclick="toggleContent('report-{{ counter }}_{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}')">
                                                        <span id="report-{{ counter }}_{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_toggle"
                                                              class="toggle-icon">+</span>
                                                    </span>
                                                    <label for="report-{{ counter }}_{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}">
                                                        <input
                                                                type="checkbox"
                                                                class="report-{{ counter }}_point report-{{ report_type|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_point"
                                                                id="report-{{ counter }}_{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_checkbox"
                                                                checked
                                                                style="margin-right: 5px;"
                                                                onclick="toggleGroup('report-{{ counter }}_{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}')"
                                                                name="{{ report_id }}-{{ group }}">{{ group }}
                                                    </label>
                                                </div>
                                                <div id="report-{{ counter }}_{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_content"
                                                     style="margin-left: 40px; display: none;">
                                                    {% for point_name, coordinates in coords.items %}
                                                        {% if point_name != 'coordinate_system' %}
                                                            <input type="checkbox"
                                                                   class="report-{{ counter }}_{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_point report-{{ report_type|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_point report-{{ counter }}_point"
                                                                   checked
                                                                   id="{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_{{ point_name }}_checkbox"
                                                                   name="{{ report_type }}-{{ report_id }}-{{ group }}-{{ point_name }}">
                                                            <label for="{{ group|cut:" "|cut:"."|cut:":"|cut:"["|cut:"]"|cut:"("|cut:")" }}_{{ point_name }}_checkbox">{{ point_name }}
                                                                ({{ coordinates.0 }},
                                                                {{ coordinates.1 }})</label><br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <br>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Скачать
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock modal_dialog %}