{% extends 'bases/report_editor_base.html' %}

{% block document_type %}научного отчёта{% endblock %}
{% block document_name %}научного отчёта{% endblock %}
{% block delete_object_type %}научный отчёт{% endblock %}
{% block delete_url %}{% url 'scientific_reports_delete' report.id %}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/scientific_reports_register/">Реестр научных отчётов</a></li>
<li class="breadcrumb-item"><a href="/scientific_reports/{{ report.id }}">Научный
    отчёт: {{ report.author }} от {{ report.writing_date }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Редактирование
</li>
{% endblock %}

{% block document_fields %}
{% include 'includes/django_messages.html' %}

<div class="mb-3">
    <label for="name" class="form-label">Название отчета</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ report.name }}" required>
</div>

<div class="mb-3">
    <label for="organization" class="form-label">Организация</label>
    <input type="text" class="form-control" id="organization" name="organization"
           value="{{ report.organization }}" required>
</div>

<div class="mb-3">
    <label for="author" class="form-label">Автор</label>
    <input type="text" class="form-control" id="author" name="author" value="{{ report.author }}" required>
</div>

<div class="mb-3">
    <label for="open_list" class="form-label">ОЛ</label>
    <input type="text" class="form-control" id="open_list" name="open_list" value="{{ report.open_list }}">
</div>

<div class="mb-3">
    <label for="writing_date" class="form-label">Дата написания</label>
    <input type="text" class="form-control" id="writing_date" name="writing_date"
           value="{{ report.writing_date }}">
</div>

<div class="mb-3">
    <label for="introduction" class="form-label">Введение</label>
    <textarea class="form-control" id="introduction" name="introduction"
              rows="3">{{ report.introduction }}</textarea>
</div>

<div class="mb-3">
    <label for="contractors" class="form-label">Подрядчики</label>
    <textarea class="form-control" id="contractors" name="contractors"
              rows="3">{{ report.contractors }}</textarea>
</div>

<div class="mb-3">
    <label for="place" class="form-label">Место проведения</label>
    <input type="text" class="form-control" id="place" name="place" value="{{ report.place }}">
</div>

<div class="mb-3">
    <label for="area_info" class="form-label">Информация об области</label>
    <textarea class="form-control" id="area_info" name="area_info"
              rows="3">{{ report.area_info }}</textarea>
</div>

<div class="mb-3">
    <label for="research_history" class="form-label">История исследований</label>
    <textarea class="form-control" id="research_history" name="research_history"
              rows="3">{{ report.research_history }}</textarea>
</div>

<div class="mb-3">
    <label for="results" class="form-label">Результаты</label>
    <textarea class="form-control" id="results" name="results" rows="3">{{ report.results }}</textarea>
</div>

<div class="mb-3">
    <label for="conclusion" class="form-label">Заключение</label>
    <textarea class="form-control" id="conclusion" name="conclusion"
              rows="3">{{ report.conclusion }}</textarea>
</div>
{% endblock %}