{% extends 'bases/base.html' %}

{% block title %}{% block document_title %}{% endblock %}{% endblock %}

{% block content %}
    <br>
    <h2 align="center">{% block document_header %}{% endblock %}</h2>

    <div>
        {% block document_sources %}{% endblock %}

        {% block document_actions %}{% endblock %}
    </div>

    {% block document_modals %}
        <div class="modal fade" id="delete_document" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтверждение удаления</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{% block delete_url %}{% endblock %}" class="mt-3">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <hr>
    <h2>Содержание</h2>
    <div id="document-contents">
        {% block document_contents %}{% endblock %}
    </div>
    <hr>

    {% block document_sections %}{% endblock %}

    <style>
        p {
            white-space: pre-wrap;
        }
    </style>
{% endblock %}

<script>
    {% block guide_steps %}
        const tourSteps = [
            {
                title: 'Просмотр документа',
                text: 'На странице просмотра формализованного документа представлена информация, которая была считана системой при его обработке.',
                element: null
            },
            {
                title: 'Исходники',
                text: 'По данной ссылке вы можете просмотреть и скачать исходный файл, который был загружен в систему.',
                element: '.source-button'
            },
            {% if account_card.heritage_url %}
                {
                    title: 'Привязка к памятнику',
                    text: 'Если к учётной карте привязан памятник из перечня, то по данной ссылке можно перейти на страницу памятника.',
                    element: '.heritage-button'
                },
            {% endif %}
            {% if account_card.coordinates_dict %}
                {
                    title: 'Просмотр координат',
                    text: 'Если в документе были распознаны и считаны координаты, то их можно посмотреть на интерактивной карте.',
                    element: '.coordinates-button'
                },
            {% endif %}
            {% if archaeological_heritage_site.user.id == user.id or user.is_superuser %}
                {
                    title: 'Редактирование',
                    text: 'Также формализованную информацию о документе можно изменить с помощью встроенного редактора.',
                    element: '.edit-button'
                },
                {
                    title: 'Удаление',
                    text: 'При необходимости документ возможно удалить из системы вместе с исходником.',
                    element: '.delete-button'
                },
            {% endif %}
            {
                title: 'Оглавление',
                text: 'После обработки документа автоматически выстраивается навигация по основным разделам. Используйте данные гиперссылки для быстрого перемещения к нужному разделу документа.',
                element: '#document-contents'
            }
        ];
    {% endblock %}
</script>