.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
*.egg-info
*.mp4
*.zip
*.tar
*.log
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.tmp
/tmp
/dev
/data

.docker-cache/
wheelhouse/
# uploaded_files/
venv/
staticfiles/
supervisord_logs/
app_mount/

# *.jpg
# *.png