.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
*.egg-info
*.mp4
*.zip
*.tar
*.log
*.pdf
*.tmp
/tmp
/dev
/data

.docker-cache/
wheelhouse/
uploaded_files/
venv/
staticfiles/

# *.jpg
# *.png