<header class="hero">
	<div class="container">
		<h1 class="display-4">Деконструктор Отчётов</h1>
		<p class="lead">Выберите файл и нажмите кнопку для деконструкции.</p>
	</div>
</header>

<div class="container upload-section">
	<h2 class="text-center">Загрузите файл</h2>
	<form method="post" enctype="multipart/form-data">
		
		<div class="progress">
		  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
		</div>
		<br>
		
		<button type="submit">Загрузить</button>
	</form>
</div>